Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU file을 추가합니다.
  apps/web/src/shared/core/sdu/file/File.stories.tsx
  apps/web/src/shared/core/sdu/file/example.json
  apps/web/src/shared/core/sdu/file/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU toggle 추가합니다.
  apps/web/src/shared/core/sdu/toggle/Toggle.stories.tsx
  apps/web/src/shared/core/sdu/toggle/example.json
  apps/web/src/shared/core/sdu/toggle/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU quote 추가합니다.
  apps/web/src/shared/core/sdu/quote/Quote.stories.tsx
  apps/web/src/shared/core/sdu/quote/example.json
  apps/web/src/shared/core/sdu/quote/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU text 컴포넌트를 추가합니다.
  apps/web/src/shared/core/sdu/README.md
  apps/web/src/shared/core/sdu/ServerDrivenComponent.tsx
  apps/web/src/shared/core/sdu/divider/Divider.stories.tsx
  apps/web/src/shared/core/sdu/divider/example.json
  apps/web/src/shared/core/sdu/divider/index.tsx
  apps/web/src/shared/core/sdu/heading1/Heading1.stories.tsx
  apps/web/src/shared/core/sdu/heading1/example.json
  apps/web/src/shared/core/sdu/heading1/index.tsx
  apps/web/src/shared/core/sdu/heading2/Heading2.stories.tsx
  apps/web/src/shared/core/sdu/heading2/example.json
  apps/web/src/shared/core/sdu/heading2/index.tsx
  apps/web/src/shared/core/sdu/heading3/Heading3.stories.tsx
  apps/web/src/shared/core/sdu/heading3/example.json
  apps/web/src/shared/core/sdu/heading3/index.tsx
  apps/web/src/shared/core/sdu/image/Image.stories.tsx
  apps/web/src/shared/core/sdu/image/example.json
  apps/web/src/shared/core/sdu/image/index.tsx
  apps/web/src/shared/core/sdu/paragraph/Paragraph.stories.tsx
  apps/web/src/shared/core/sdu/paragraph/example.json
  apps/web/src/shared/core/sdu/paragraph/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-32-floating-action-component] feat: 공용 Floating Action 컴포넌트 구현
  apps/web/src/shared/ui/floating-action/FloatingAction.stories.tsx
  apps/web/src/shared/ui/floating-action/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-32-floating-action-component] feat: 패스 페이지 layout에 floating component 추가
  apps/web/app/path/[pathId]/detail/[partId]/layout.tsx
  apps/web/src/shared/ui/floating-action/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: DropdownMenu 코드 수정
  apps/web/src/shared/ui/dropdown-menu/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 마이페이지 mock 데이터 수정
  apps/web/src/__mock__/data/mypage.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] setting: 페이지네이션 컴포넌트 작업 준비
  apps/web/src/shared/ui/pagination/Pagination.stories.tsx
  apps/web/src/shared/ui/pagination/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: Tabs 컴포넌트 추가
  apps/web/src/shared/ui/tabs/Tabs.stories.tsx
  apps/web/src/shared/ui/tabs/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: MyPage css 수정
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: FeedbackListSection 퍼블리싱 작업
  apps/web/src/widgets/mypage/ui/feedback-list-section/FeedbackListSection.stories.tsx
  apps/web/src/widgets/mypage/ui/feedback-list-section/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: FeedbackList 퍼블리싱 작업
  apps/web/src/widgets/mypage/ui/feedback-list/FeedbackList.stories.tsx
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: gap 코드 수정
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: 페이지네이션 컴포넌트 추가
  apps/web/src/shared/ui/pagination/Pagination.stories.tsx
  apps/web/src/shared/ui/pagination/index.tsx
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] feat: Next.js 환경에서의 Portal 구현
  apps/web/app/layout.tsx
  apps/web/src/shared/ui/portal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] chore: close icon 추가
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] feat: 기본 모달 컴포넌트 구현
  packages/ui/src/components/modal/Modal.stories.tsx
  packages/ui/src/components/modal/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: msw 연결
  apps/web/app/mypage/edit/page.tsx
  apps/web/app/mypage/loading.tsx
  apps/web/app/mypage/page.tsx
  apps/web/src/__mock__/data/mypage.ts
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/handler/mypage.ts
  apps/web/src/__mock__/types/mypage.ts
  apps/web/src/entities/mypage/apis/get-mypage-data.ts
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
  apps/web/src/widgets/mypage/ui/completed-path-list/index.tsx
  apps/web/src/widgets/mypage/ui/feedback-list-section/index.tsx
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
  apps/web/src/widgets/mypage/ui/in-progress-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: Icon variant 추가
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: Input 공용 컴포넌트 추가
  packages/ui/src/components/input/Input.stories.tsx
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] feat: 모달 스토리북 파일 추가
  packages/ui/src/components/modal/Modal.stories.tsx
  packages/ui/src/components/modal/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: react-hook-form 설치
  pnpm-lock.yaml
Due: none

[ANI-13-mypage] fix: 워닝 코드 수정
  apps/web/src/widgets/mypage/ui/feedback-list-section/index.tsx
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: Input 코드 수정
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: Input 경로 연동
  packages/ui/src/client.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: msw 연동
  apps/web/app/mypage/page.tsx
  apps/web/src/__mock__/data/mypage.ts
  apps/web/src/__mock__/handler/mypage.ts
  apps/web/src/__mock__/types/mypage.ts
  apps/web/src/entities/mypage/lib/apis/get-mypage-data.ts
  apps/web/src/entities/mypage/lib/apis/get-myprofile-data.ts
  apps/web/src/entities/mypage/lib/apis/index.ts
  apps/web/src/entities/mypage/lib/apis/put-myprofile.ts
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: rhf 연동
  apps/web/package.json
Due: none

[ANI-28-modal-component] feat: ConfirmModal 컴포넌트 추가
  apps/web/public/svg/success.svg
  apps/web/public/webp/error.webp
  apps/web/public/webp/success.webp
  apps/web/src/shared/ui/modal/AlertModal.tsx
  apps/web/src/shared/ui/modal/ConfirmModal.stories.tsx
  apps/web/src/shared/ui/modal/ConfirmModal.tsx
  apps/web/src/shared/ui/modal/Portal.tsx
  apps/web/src/shared/ui/modal/index.tsx
  packages/ui/src/client.ts
  packages/ui/src/components/icon/variants.ts
  packages/ui/src/components/modal/index.tsx
  packages/ui/src/server.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: 프로필 수정 msw 연동
  apps/web/src/__mock__/handler/mypage.ts
  apps/web/src/__mock__/types/mypage.ts
  apps/web/src/entities/mypage/lib/apis/put-myprofile.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] feat: 공용 AlertModal 추가
  apps/web/src/shared/ui/modal/AlertModal.tsx
  apps/web/src/shared/ui/modal/CommonModal.stories.tsx
  apps/web/src/shared/ui/modal/CommonModal.tsx
  apps/web/src/shared/ui/modal/ConfirmModal.stories.tsx
  apps/web/src/shared/ui/modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] fix: 타입 오류 수정
  apps/web/src/shared/ui/modal/CommonModal.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 코드 분리 & 수정
  apps/web/src/entities/mypage/lib/apis/index.ts
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/config/profile-edit-modal.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-134-pagination-component] feat: 공용 페이지네이션 컴포넌트 추가
  packages/ui/src/components/pagination/Pagination.stories.tsx
  packages/ui/src/components/pagination/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-134-pagination-component] chore: pagination export 구문 추가
  packages/ui/src/client.ts
  packages/ui/src/components/pagination/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 불필요한 코드, 테스트 코드 삭제
  apps/web/app/layout.tsx
  apps/web/app/mypage/edit/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: ImageUpload 컴포넌트 추가
  apps/web/src/shared/ui/image-upload/ImageUpload.stories.tsx
  apps/web/src/shared/ui/image-upload/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 코드 수정
  apps/web/src/entities/mypage/lib/apis/put-myprofile.ts
  apps/web/src/features/main/ui/my-page-edit-button/MyPageEditButton.stories.tsx
  apps/web/src/features/main/ui/my-page-edit-button/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: 마이페이지 모달 연동
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 페이지네이션 코드 주석
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

Path conditions:
  pnpm --filter @ani/web next lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}": any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/util/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/util/**/*.{js,jsx,ts,tsx}
