Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @ani/web next lint",
    "pnpm --filter @ani/web prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/ui eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/ui prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/util/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/util eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/util prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ]
}

[ANI-13-mypage] feat: 마이페이지 구조 세팅
  apps/web/app/mypage/layout.tsx
  apps/web/app/mypage/page.tsx
  apps/web/src/views/MyPage/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: MyPageEditButton 버튼 추가
  apps/web/src/features/main/ui/my-page-edit-button/MyPageEditButton.stories.tsx
  apps/web/src/features/main/ui/my-page-edit-button/index.tsx
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: 마이페이지 목데이터 생성
  apps/web/src/__mock__/data/mypage.ts
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: PathProductItemDone 수정
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: 마이페이지 내 패스 부분 퍼블리싱 완료
  apps/web/src/__mock__/data/mypage.ts
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/ui/completed-path-list/CompletedPathList.stories.tsx
  apps/web/src/widgets/mypage/ui/completed-path-list/index.tsx
  apps/web/src/widgets/mypage/ui/in-progress-path-list/InProgressPathList.stories.tsx
  apps/web/src/widgets/mypage/ui/in-progress-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: DropdownMenu 추가
  apps/web/src/shared/ui/dropdown-menu/DropdownMenu.stories.tsx
  apps/web/src/shared/ui/dropdown-menu/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: AssignmentList 컴포넌트 구조 잡기
  apps/web/app/path/[pathId]/introduce/loading.tsx
  apps/web/src/features/main/ui/my-page-edit-button/MyPageEditButton.stories.tsx
  apps/web/src/views/MyPage/MyPage.stories.tsx
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/AssignmentList.stories.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-121-main-page] feat: getMainData 추가
  apps/web/src/entities/main/lib/apis/get-main-data.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-121-main-page] feat: msw 데이터 연동
  apps/web/app/loading.tsx
  apps/web/app/page.tsx
  apps/web/src/__mock__/data/main.ts
  apps/web/src/__mock__/handler/main.ts
  apps/web/src/__mock__/types/main.ts
  apps/web/src/entities/main/lib/apis/get-main-data.ts
  apps/web/src/views/MainPage/MainPage.stories.tsx
  apps/web/src/views/MainPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: DropdownMenu 공용 컴포넌트를 추가합니다
  apps/web/src/shared/ui/dropdown-menu/DropdownMenu.stories.tsx
  apps/web/src/shared/ui/dropdown-menu/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: SDU로 변경합니다.
  apps/web/.storybook/main.ts
  apps/web/app/example.json
  apps/web/package.json
  apps/web/src/__mock__/data/path.ts
  apps/web/src/features/path/ui/path-apply-button/PathApplyButton.stories.tsx
  apps/web/src/features/path/ui/path-apply-button/index.tsx
  apps/web/src/features/path/ui/path-cancle-button/index.tsx
  apps/web/src/shared/core/sdu/index.tsx
  apps/web/src/shared/core/sdu/server-driven.ts
  apps/web/src/shared/lib/hooks/use-intersection-observer.ts
  apps/web/src/shared/ui/NavigationLinks/NavigationLinks.stories.tsx
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/shared/ui/layout/full-screen-layout/index.tsx
  apps/web/src/shared/ui/navigation-links/NavigationLinks.stories.tsx
  apps/web/src/shared/ui/navigation-links/index.tsx
  apps/web/src/views/IntroducePage/IntroducePage.stories.tsx
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/widgets/path/model/index.ts
  apps/web/src/widgets/path/model/path-introduce.ts
  apps/web/src/widgets/path/ui/curriculum-bar/CurriculumBar.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-bar/index.tsx
  apps/web/src/widgets/path/ui/curriculum-content/CurriculumContent.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-content/index.tsx
  apps/web/src/widgets/path/ui/curriculum-custom-text/CurriculumCustomText.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-custom-text/index.tsx
  apps/web/src/widgets/path/ui/path-curriculum/PathCurriculum.stories.tsx
  apps/web/src/widgets/path/ui/path-curriculum/index.tsx
  apps/web/src/widgets/path/ui/path-information-banner/PathInformationBanner.stories.tsx
  apps/web/src/widgets/path/ui/path-information-banner/index.tsx
  apps/web/src/widgets/path/ui/path-navigation-links/index.tsx
  apps/web/src/widgets/path/ui/path-recommend-banner/PathRecommentBanner.stories.tsx
  apps/web/src/widgets/path/ui/path-recommend-banner/index.tsx
  apps/web/src/widgets/path/ui/path-title-banner/PathTitleBanner.stories.tsx
  apps/web/src/widgets/path/ui/path-title-banner/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 유틸 기능을 추가합니다.
  config/libs/tailwind.config.cjs
  packages/ui/src/components/flex/index.tsx
  packages/ui/src/components/flex/variants.ts
  packages/ui/src/components/spacing-block/index.tsx
  packages/ui/src/components/spacing-block/variants.ts
  packages/util/src/formatDate.ts
  pnpm-lock.yaml
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] fix: 타입 오류를 수정합니다.
  apps/web/src/shared/ui/navigation-links/index.tsx
  packages/ui/src/components/check/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-126-navigation-links] refactor: navigation link를 수정합니다.
  apps/web/.storybook/main.ts
  apps/web/package.json
  apps/web/src/shared/ui/NavigationLinks/NavigationLinks.stories.tsx
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-126-navigation-links] fix: 잘못된 import 경로를 수정합니다.
  packages/ui/src/components/check/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 코드 추가 수정
  apps/web/src/shared/ui/dropdown-menu/DropdownMenu.stories.tsx
  apps/web/src/shared/ui/dropdown-menu/index.tsx
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: NavigationLinks 수정 반영
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-127-rem-size] refactor: size를 변경합니다.
  apps/web/src/shared/ui/NavigationLinks/NavigationLinks.stories.tsx
  apps/web/src/views/IntroducePage/index.tsx
  config/libs/tailwind.config.cjs
  packages/ui/src/components/check/Check.stories.tsx
  packages/ui/src/components/check/index.tsx
  packages/ui/src/components/divider/Divider.stories.tsx
  packages/ui/src/components/flex/Flex.stories.tsx
  packages/ui/src/components/flex/index.tsx
  packages/ui/src/components/flex/variants.ts
  packages/ui/src/components/icon/Icon.stories.tsx
  packages/ui/src/components/icon/index.tsx
  packages/ui/src/components/icon/variants.ts
  packages/ui/src/components/spacing-block/SpacingBlock.stories.tsx
  packages/ui/src/components/spacing-block/index.tsx
  packages/ui/src/components/spacing-block/variants.ts
  packages/ui/src/variants/size.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-127-rem-size] feat: 공용 레이아웃을 추가합니다.
  apps/web/src/shared/ui/layout/full-screen-layout.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-127-rem-size] refactor: 변경된 사이즈를 적용합니다.
  apps/web/src/shared/ui/header/index.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemAssignment.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.tsx
  apps/web/src/views/MainPage/index.tsx
  apps/web/src/widgets/feedback/ui/likert-scale/index.tsx
  apps/web/src/widgets/main/ui/assignment-list/index.tsx
  apps/web/src/widgets/main/ui/leaning-summary-list/index.tsx
  apps/web/src/widgets/main/ui/open-soon-path-list/index.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/index.tsx
  packages/ui/src/components/check-box/CheckBox.stories.tsx
  packages/ui/src/components/check-box/variants.ts
  packages/ui/src/components/flex/index.tsx
  packages/ui/src/components/progress-bar/index.tsx
  packages/ui/src/components/spacing-block/index.tsx
  packages/ui/src/variants/size.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-127-rem-size] chore: push를 할 경우 빌드를 통해 검사를 진행합니다.
  .husky/pre-push
Due: none

[ANI-127-rem-size] chore: pr-check이 누락될 경우 수동으로 실행될 수 있게 설정을 추가합니다.:
  .github/workflows/pr-check.yml
Due: none

[ANI-13-mypage] fix: Flex gap 수정사항 만영
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
  apps/web/src/widgets/mypage/ui/completed-path-list/index.tsx
  apps/web/src/widgets/mypage/ui/in-progress-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 코드 수정 반영
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 임시 SDU 컴포넌트를 추가합니다.
  apps/web/src/shared/core/sdu/ServerDrivenComponent.tsx
  apps/web/src/shared/core/sdu/ServerDrivenFunction.ts
  apps/web/src/shared/core/sdu/button/example.json
  apps/web/src/shared/core/sdu/button/index.tsx
  apps/web/src/shared/core/sdu/heading1/index.tsx
  apps/web/src/shared/core/sdu/heading2/index.tsx
  apps/web/src/shared/core/sdu/heading3/index.tsx
  apps/web/src/shared/core/sdu/index.tsx
  apps/web/src/shared/core/sdu/paragraph/index.tsx
  apps/web/src/shared/core/sdu/radio-group/example.json
  apps/web/src/shared/core/sdu/server-driven.ts
  apps/web/src/shared/core/sdu/toggle/index.tsx
  apps/web/src/widgets/path/ui/path-radio-group/RadioGroup.stories.tsx
  apps/web/src/widgets/path/ui/path-radio-group/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 날짜 형식을 추가해주는 formatDate를 추가합니다.
  packages/util/src/formatDate.ts
Due: pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: 버튼 스토리북 파일을 변경합니다.
  apps/web/src/shared/core/sdu/button/CustomButton.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: path 상세조회 mock api를 추가합니다.
  apps/web/src/__mock__/data/path.ts
  apps/web/src/__mock__/handler/path.ts
  apps/web/src/__mock__/types/introduce.ts
  apps/web/src/entities/path/lib/apis/get-path-introduce.ts
  apps/web/src/entities/path/lib/apis/index.ts
  apps/web/src/entities/path/model/path-introduce.ts
  apps/web/src/widgets/path/model/index.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: 소개 페이지에 피드백 내용을 반영합니다.
  apps/web/app/path/[pathId]/introduce/loading.tsx
  apps/web/app/path/[pathId]/introduce/page.tsx
  apps/web/src/entities/path/ui/curriculum-bar/CurriculumBar.stories.tsx
  apps/web/src/entities/path/ui/curriculum-bar/index.tsx
  apps/web/src/features/path/ui/path-apply-button/index.tsx
  apps/web/src/features/path/ui/path-cancle-button/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/widgets/path/ui/path-curriculum/CurriculumBar.tsx
  apps/web/src/widgets/path/ui/path-curriculum/CurriculumContent.tsx
  apps/web/src/widgets/path/ui/path-curriculum/PathCurriculum.stories.tsx
  apps/web/src/widgets/path/ui/path-curriculum/index.tsx
  apps/web/src/widgets/path/ui/path-information-banner/PathInformationBanner.stories.tsx
  apps/web/src/widgets/path/ui/path-information-banner/index.tsx
  apps/web/src/widgets/path/ui/path-title-banner/PathTitleBanner.stories.tsx
  apps/web/src/widgets/path/ui/path-title-banner/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] fix: 누락된 type 에러를 수정합니다.
  apps/web/src/__mock__/data/path.ts
  apps/web/src/__mock__/handler/path.ts
  apps/web/src/entities/path/lib/apis/get-path-introduce.ts
  apps/web/src/entities/path/lib/types/introduce.ts
  apps/web/src/features/path/ui/path-apply-button/PathApplyButton.stories.tsx
  apps/web/src/types/common.ts
  apps/web/src/views/IntroducePage/IntroducePage.stories.tsx
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/widgets/path/ui/path-curriculum/CurriculumBar.tsx
  apps/web/src/widgets/path/ui/path-curriculum/CurriculumContent.tsx
  apps/web/src/widgets/path/ui/path-curriculum/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: type 위치를 변경합니다.
  apps/web/src/entities/path/lib/types/introduce.ts
  apps/web/src/shared/types/common.ts
  apps/web/src/shared/types/index.d.ts
  apps/web/src/widgets/path/ui/path-curriculum/CurriculumBar.tsx
  apps/web/src/widgets/path/ui/path-curriculum/CurriculumContent.tsx
  apps/web/src/widgets/path/ui/path-curriculum/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: AssignmentList 퍼블리싱 완료
  apps/web/src/__mock__/data/mypage.ts
  apps/web/src/shared/ui/dropdown-menu/index.tsx
  apps/web/src/views/MyPage/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-32-floating-action-component] [ANI-32-floating-action-component] chore: floating action을 위한 svg asset 추가
  apps/web/public/webp/1on1chat.webp
Due: none

[server-driven-ui] feat: extra-bold 굵기를 추가합니다.
  packages/ui/src/components/typography/index.tsx
  packages/ui/src/components/typography/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: 파일명에 따라 아이콘을 불러오는 유틸 함수를 추가합니다.
  packages/util/src/get-file-icon.ts
Due: pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU bookmark를 추가합니다.
  apps/web/src/__mock__/data/path.ts
  apps/web/src/shared/core/sdu/bookmark/Bookmark.stories.tsx
  apps/web/src/shared/core/sdu/bookmark/example.json
  apps/web/src/shared/core/sdu/bookmark/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU bulletedListItem을 추가합니다.
  apps/web/src/shared/core/sdu/bulleted-list-item/BulletedListItem.stories.tsx
  apps/web/src/shared/core/sdu/bulleted-list-item/example.json
  apps/web/src/shared/core/sdu/bulleted-list-item/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU callout을 추가합니다.
  apps/web/src/shared/core/sdu/callout/Callout.stories.tsx
  apps/web/src/shared/core/sdu/callout/example.json
  apps/web/src/shared/core/sdu/callout/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[server-driven-ui] feat: SDU numbered-list-item을 추가합니다.
  apps/web/src/shared/core/sdu/numbered-list-item/example.json
Due: none

[server-driven-ui] feat: SDU numbered-list-item을 추가합니다.
  apps/web/src/shared/core/sdu/numbered-list-item/Numbered.stories.tsx
  apps/web/src/shared/core/sdu/numbered-list-item/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"
