Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/ui lint, pnpm --filter @ani/config lint, pnpm --filter web lint, stylelint --fix, prettier --write

[main] style: lf 미적용 문제를 해결합니다.
  .editorconfig
  .lintstagedrc.json
  apps/web/app/_fonts/index.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/docs/ui-style-system.md
  apps/web/package.json
Due: pnpm --filter web lint

[main] refactor: config 폴더를 분리합니다.
  .husky/commit-msg
  .husky/pre-commit
  apps/web/next.config.js
  apps/web/package.json
  commitlint.config.js
  config/eslint/README.md
  config/eslint/library.js
  config/eslint/next.js
  config/eslint/package.json
  config/eslint/react-internal.js
  config/libs/commitlint.config.js
  config/libs/package.json
  config/libs/prettier.config.js
  config/typescript/base.json
  config/typescript/nextjs.json
  config/typescript/package.json
  config/typescript/react-library.json
  package.json
  packages/typescript-config/package.json
  packages/ui/package.json
  packages/ui/src/styles/foundation/breakpoints.scss
  packages/ui/src/styles/foundation/colors.scss
  packages/ui/src/styles/foundation/index.scss
  packages/ui/src/styles/foundation/mixins.scss
  packages/ui/src/styles/index.scss
  packages/ui/src/styles/mixin/_breakpoint.scss
  packages/ui/src/styles/mixin/_functions.scss
  packages/ui/src/styles/mixin/_typography.scss
  packages/ui/src/styles/token/index.scss
  packages/ui/src/styles/token/tokens.scss
  packages/ui/src/styles/typography/constants.scss
  packages/ui/src/styles/typography/index.scss
  packages/ui/src/styles/typography/mixins.scss
  packages/ui/src/styles/utils/index.scss
  packages/ui/src/styles/utils/layout.scss
  packages/ui/src/styles/utils/mixins.scss
  packages/ui/src/styles/utils/style-reset.scss
  packages/ui/src/styles/variables.scss
  packages/ui/tsconfig.json
  prettier.config.js
Due: pnpm --filter web lint, stylelint --fix, prettier --write

[main] chore: lint 설정을 추가합니다.
  apps/web/.eslintrc.js
  apps/web/app/page.styles.module.scss
  apps/web/package.json
  apps/web/prettier.config.js
  apps/web/src/styles/global.scss
  apps/web/tsconfig.json
  package.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/prettier.config.js
  packages/ui/src/styles/foundation/breakpoints.scss
  packages/ui/src/styles/foundation/colors.scss
  packages/ui/src/styles/foundation/index.scss
  packages/ui/src/styles/foundation/mixins.scss
  packages/ui/src/styles/index.scss
  packages/ui/src/styles/token/index.scss
  packages/ui/src/styles/token/tokens.scss
  packages/ui/src/styles/typography/constants.scss
  packages/ui/src/styles/typography/index.scss
  packages/ui/src/styles/typography/mixins.scss
  packages/ui/src/styles/utils/index.scss
  packages/ui/src/styles/utils/layout.scss
  packages/ui/src/styles/utils/mixins.scss
  packages/ui/src/styles/utils/style-reset.scss
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint, stylelint --fix, prettier --write

[main] refactor: 변경된 mixin 사용법을 재작성합니다.
  .husky/commit-msg
  .husky/pre-commit
  apps/web/app/page.styles.module.scss
  apps/web/docs/ui-style-system.md
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/ui/package.json
  packages/ui/src/styles/foundation/breakpoints.scss
  packages/ui/src/styles/foundation/mixins.scss
Due: stylelint --fix, prettier --write

[main] feat: lint 설정을 변경합니다.
  .eslintrc.js
  .lintstagedrc.json
  .npmrc
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/src/__mock__/browser.ts
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/handler/member.ts
  apps/web/src/__mock__/http.ts
  apps/web/tsconfig.json
  config/es-config/README.md
  config/es-config/library.js
  config/es-config/next.js
  config/es-config/package.json
  config/es-config/react-internal.js
  config/ts-config/base.json
  config/ts-config/nextjs.json
  config/ts-config/package.json
  config/ts-config/react-library.json
  config/typescript/package.json
  package.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/utils/hello.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint

[main] feat: stylelint 자동정렬을 추가합니다.
  .stylelintrc.js
  .stylelintrc.json
  apps/web/app/page.styles.module.scss
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/styles/global.scss
  package.json
  pnpm-lock.yaml
Due: stylelint --fix, prettier --write

[main] style: lint 정렬을 진행합니다.
  packages/ui/src/styles/typography/mixins.scss
  packages/ui/src/styles/utils/index.scss
  packages/ui/src/styles/utils/mixins.scss
  packages/ui/src/styles/utils/style-reset.scss
Due: stylelint --fix, prettier --write

[main] chore: github 관련 ci/cd 파일을 추가합니다.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/workflows/chromatic.yml
  apps/web/docs/ui-style-system.md
Due: none

[main] chore: module bundler 설정을 변경합니다.
  packages/ui/tsconfig.json
  packages/util/src/index.ts
  packages/util/tsconfig.json
Due: none

[main] fix: build 설정을 위한 타입을 지정합니다.
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/handler/member.ts
  packages/ui/package.json
  packages/util/package.json
Due: pnpm --filter web lint

[main] chore: node-linker를 추가합니다.
  .npmrc
Due: none

[ANI-39-radio-group] feat: RadioGroup을 추가합니다.
  packages/ui/src/components/atom/radio-group/RadioGroup.stories.tsx
  packages/ui/src/components/atom/radio-group/RadioGroup.tsx
  packages/ui/src/components/atom/radio-group/example.json
  packages/ui/src/index.ts
  packages/ui/src/styles/globals.css
Due: pnpm --filter @ani/ui lint, stylelint --fix, prettier --write

[ANI-39-radio-group] feat: renderComponents를 추가합니다.
  apps/web/app/example.json
  apps/web/app/page.tsx
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/components/atom/Button.stories.ts
  packages/ui/src/components/atom/Button.tsx
  packages/ui/src/components/renderComponents.tsx
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint

[ANI-40-typography] feat: typography를 추가합니다.
  config/libs/tailwind.config.cjs
  packages/ui/package.json
  packages/ui/src/components/atom/typography/Typography.tsx
  packages/ui/src/components/atom/typography/Typogrpahy.stories.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: pnpm --filter @ani/ui lint

[ANI-40-typography] style: formmat 미적용 수정
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/components/atom/Button.tsx
  packages/ui/vite.config.js
Due: pnpm --filter @ani/ui lint

[ANI-39-radio-group] refactor: type을 분류합니다.
  apps/web/app/page.tsx
  packages/ui/package.json
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint

[ANI-40-typography] refactor: variants를 객체로 분리합니다.
  apps/web/app/page.tsx
  package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview-head.html
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/components/atom/typography/Typography.tsx
  packages/ui/src/components/atom/typography/Typogrpahy.stories.ts
  packages/ui/src/components/atom/typography/variants.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint

[ANI-22-image-section] feat: ImageSection 공용 컴포넌트를 추가합니다.
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
  packages/ui/src/components/atom/image-section/ImageSection.tsx
  packages/ui/src/index.ts
Due: pnpm --filter @ani/ui lint

[ANI-39-radio-group] fix: lint 설정을 적용합니다.
  .eslintrc.js
  apps/web/.eslintrc
  apps/web/.eslintrc.js
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/handler/member.ts
  apps/web/src/__mock__/http.ts
  apps/web/tsconfig.json
  config/es-config/index.js
  config/es-config/library.js
  config/es-config/next.js
  config/es-config/package.json
  config/es-config/react-internal.js
  package.json
  packages/ui/.eslintrc.cjs
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/components/atom/radio-group/RadioGroup.stories.tsx
  packages/ui/src/components/atom/radio-group/RadioGroup.tsx
  packages/ui/src/components/atom/typography/Typography.tsx
  packages/ui/src/components/atom/typography/Typogrpahy.stories.ts
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/index.ts
  packages/ui/src/types/server-driven.ts
  packages/ui/tailwind.config.cjs
  packages/ui/tsconfig.json
  packages/util/.eslintrc.cjs
  packages/util/eslint.config.js
  packages/util/package.json
  packages/util/src/cn.ts
  packages/util/src/index.ts
  packages/util/tailwind.config.cjs
  packages/util/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint

[ANI-21-spacing-block] refactor: 다른 컴포넌트의 영향을 받지 않게 하기 위해 파일 위치를 수정합니다.
  packages/ui/src/components/atom/radio-group/RadioGroup.stories.tsx
  packages/ui/src/components/atom/radio-group/index.tsx
  packages/ui/src/components/atom/typography/Typogrpahy.stories.ts
  packages/ui/src/components/atom/typography/index.tsx
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/index.ts
Due: pnpm --filter @ani/ui lint

[ANI-21-spacing-block] docs: ServerDrivenComponent 관련 문서를 작성합니다.
  apps/web/app/page.tsx
  docs/ServerDrivenComponent.md
  packages/ui/package.json
  packages/ui/src/components/atom/typography/example.json
  packages/ui/src/components/atom/typography/variants.ts
  packages/ui/src/types/server-driven.ts
  pnpm-lock.yaml
Due: pnpm --filter @ani/ui lint, pnpm --filter web lint

[ANI-21-spacing-block] feat: 디자인 토큰을 추가합니다.
  config/libs/tailwind.config.cjs
Due: none

[ANI-21-spacing-block] feat: spacingBlock을 추가합니다.
  packages/ui/package.json
  packages/ui/src/components/atom/Button.tsx
  packages/ui/src/components/atom/spacing-block/SpacingBlock.stories.tsx
  packages/ui/src/components/atom/spacing-block/example.json
  packages/ui/src/components/atom/spacing-block/index.tsx
  packages/ui/src/components/atom/spacing-block/variants.ts
  packages/ui/src/components/atom/typography/index.tsx
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
  pnpm-lock.yaml
Due: pnpm --filter @ani/ui lint

[ANI-38-storybook] chore: storybook 관련 알림을 수정합니다.
  .github/workflows/chromatic.yml
Due: none

[ANI-22-image-section] fix: css 적용 코드 수정
  packages/ui/src/components/atom/image-section/ImageSection.tsx
Due: pnpm --filter @ani/ui lint

[ANI-22-image-section] feat: example.json 코드 작성
  packages/ui/src/components/atom/image-section/example.json
Due: none

[ANI-22-image-section] fix: renderComponents에 ImageSection 컴포넌트 추가
  packages/ui/src/components/renderComponents.tsx
Due: pnpm --filter @ani/ui lint

[ANI-22-image-section] fix: 경로 수정
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
  packages/ui/src/components/atom/image-section/index.tsx
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
Due: pnpm --filter @ani/ui lint

[ANI-38-storybook] chore: git workflows를 추가합니다.
  .github/workflows/build-check.yml
  .github/workflows/lint-check.yml
  .github/workflows/type-check.yml
  .husky/prepare-commit-msg
  apps/web/package.json
  package.json
  packages/ui/package.json
  packages/ui/src/empty-entry.ts
  packages/ui/vite.config.js
  packages/util/package.json
  packages/util/vite.config.js
  pnpm-lock.yaml
  turbo.json
Due: pnpm --filter @ani/ui lint

[ANI-38-storybook] chore: prettier 검사도 추가합니다.
  .github/workflows/lint-check.yml
  packages/util/package.json
Due: none

[ANI-22-image-section] fix: import sort 린트에러 수정
  packages/ui/src/components/renderComponents.tsx
Due: pnpm --filter @ani/ui lint

[ANI-22-image-section] fix: 불필요한 파일을 제거합니다.
  packages/ui/src/index.ts
Due: pnpm --filter @ani/ui lint

[ANI-22-image-section] fix: lint가 잡히지 않는 문제를 수정합니다.
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
  packages/ui/src/types/server-driven.ts
  packages/util/package.json
  turbo.json
Due: pnpm --filter @ani/ui lint

[ANI-22-image-section] fix: 누락된 export를 추가합니다.
  packages/ui/package.json
Due: none

[ANI-22-image-section] fix: variants 파일 분리
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
  packages/ui/src/components/atom/image-section/index.tsx
  packages/ui/src/components/atom/image-section/variants.ts
Due: pnpm --filter @ani/ui lint

[ANI-55-Storybook] chore: ci yml 파일을 수정합니다.
  .github/workflows/build-check.yml
  .github/workflows/chromatic.yml
  .github/workflows/lint-check.yml
  .github/workflows/pr-check.yml
Due: none

[ANI-41-flex] feat: flex 컴포넌트를 추가합니다.
  packages/ui/package.json
  packages/ui/src/components/atom/flex/Flex.stories.tsx
  packages/ui/src/components/atom/flex/example.json
  packages/ui/src/components/atom/flex/index.tsx
  packages/ui/src/components/atom/flex/variants.ts
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
Due: pnpm --filter @ani/ui lint

[ANI-42-button] refactor: Typography에서 컬러 값을 상속받을 수 있게 합니다.
  packages/ui/src/components/atom/typography/index.tsx
  packages/ui/src/components/atom/typography/variants.ts
Due: pnpm --filter @ani/ui lint

[ANI-42-button] feat: 공용 버튼 컴포넌트를 추가합니다.
  config/libs/tailwind.config.cjs
  packages/ui/package.json
  packages/ui/src/components/atom/button/OutlinedButton.stories.tsx
  packages/ui/src/components/atom/button/OutlinedButton.tsx
  packages/ui/src/components/atom/button/SolidButton.stories.tsx
  packages/ui/src/components/atom/button/SolidButton.tsx
  packages/ui/src/components/atom/button/TextButton.stories.tsx
  packages/ui/src/components/atom/button/TextButton.tsx
  packages/ui/src/components/atom/button/example.json
  packages/ui/src/components/atom/button/index.tsx
  packages/ui/src/components/atom/button/variants.ts
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/styles/globals.css
  packages/ui/src/types/server-driven.ts
  pnpm-lock.yaml
Due: pnpm --filter @ani/ui lint, stylelint --fix, prettier --write

Path conditions:
  pnpm --filter @ani/ui lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @ani/config lint: any of: packages/config/**/*.{js,jsx,ts,tsx}
  pnpm --filter web lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: **/*.{css,scss}
  prettier --write: any of: **/*.{css,scss}
