Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @ani/web next lint",
    "pnpm --filter @ani/web prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/ui eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/ui prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/util/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/util eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/util prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ]
}

[ANI-23-badge] feat: Badge 컴포넌트 추가
  packages/ui/package.json
  packages/ui/src/components/atom/badge/Badge.stories.tsx
  packages/ui/src/components/atom/badge/example.json
  packages/ui/src/components/atom/badge/index.tsx
  packages/ui/src/components/atom/badge/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-23-badge] fix: 파일 복구
  pnpm-lock.yaml
Due: none

[ANI-23-badge] feat: Badge 컴포넌트 renderComponents에 추가
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-23-badge] fix: 경로 추가
  packages/ui/package.json
Due: none

[ANI-44-progress-step] feat: FeedbackStep 컴포넌트 추가
  apps/web/src/widgets/feedback/ui/feedback-step/FeedbackStep.stories.tsx
  apps/web/src/widgets/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] feat: feedback step 상태 변경 로직 추가
  apps/web/src/types/feedback/feedback-step.ts
  apps/web/src/widgets/feedback/ui/feedback-step/FeedbackStep.stories.tsx
  apps/web/src/widgets/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] chore: 컴포넌트 description 추가
  apps/web/src/widgets/feedback/ui/feedback-step/FeedbackStep.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] feat: feedbackStep 파일 위치 변경
  apps/web/src/features/feedback/model/feedback-step.ts
  apps/web/src/features/feedback/ui/feedback-step/FeedbackStep.stories.tsx
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] chore: 파일 위치 변경에 따른 import 경로 수정
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] chore: 파일 위치 변경에 따른 import 경로 수정
  apps/web/src/features/feedback/ui/feedback-step/FeedbackStep.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] feat: LikertScale 컴포넌트 추가
  apps/web/src/features/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] feat: zod 의존성 추가
  apps/web/package.json
Due: none

[ANI-45-likert-scale] feat: 피드백 응답값 숫자 범위 제한을 위한 schema type 추가
  apps/web/src/features/feedback/model/likert-scale.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] feat: cva 사용하여 스타일 관리되도록 수정
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-Likert-scale] feat: 척도 안내 메세지 관련 로직 추가
  apps/web/src/features/feedback/model/likert-scale.ts
  apps/web/src/features/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-44-progress-step] chore: style 단위 rem으로 통일
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] style: 설문 척도 상세 스타일 적용
  apps/web/src/features/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
  config/libs/tailwind.config.cjs
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] fix: heading2 속성 적용 및 rem 단위 조정
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
  apps/web/src/features/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
  config/libs/tailwind.config.cjs
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] chore: Typography 컴포넌트로 변경
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] chore: Typography 컴포넌트로 변경
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-45-likert-scale] chore: typo 관련 variants 분리
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] feat: ProgressBar 공용 컴포넌트 추가
  packages/ui/package.json
  packages/ui/src/components/atom/progress-bar/ProgressBar.stories.tsx
  packages/ui/src/components/atom/progress-bar/index.tsx
  packages/ui/src/components/atom/progress-bar/variants.ts
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] feat: zod 타입 안정성 로직 추가
  packages/ui/src/components/atom/progress-bar/index.tsx
  packages/ui/src/components/atom/progress-bar/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] fix: zod 타입안정성 로직 수정
  packages/ui/src/components/atom/progress-bar/index.tsx
  packages/ui/src/components/atom/progress-bar/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: feedback 페이지를 위한 라우터 구조 및 인덱스 페이지 파일 생성
  apps/web/app/[pathId]/[partId]/feedback/page.tsx
  apps/web/app/[pathId]/[partId]/page.tsx
  apps/web/app/[pathId]/page.tsx
  apps/web/src/features/feedback/index.ts
  apps/web/src/view/FeedbackPage.tsx
  apps/web/src/view/index.ts
  apps/web/src/widgets/feedback/MentoFeedback.tsx
  apps/web/src/widgets/feedback/PairFeedback.tsx
  apps/web/src/widgets/feedback/PartFeedback.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] fix: 불필요한 분리 코드 리팩터링
  packages/ui/src/components/atom/progress-bar/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] fix: transform 속성 추가
  packages/ui/src/components/atom/progress-bar/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] fix: zod, error 로직 수정
  packages/ui/src/components/atom/progress-bar/index.tsx
  packages/ui/src/components/atom/progress-bar/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: feedback 관련 interface 파일 entities로 이동
  apps/web/src/entities/feedback/model/feedback-step.ts
  apps/web/src/entities/feedback/model/likert-scale.ts
  apps/web/src/entities/feedback/ui/feedback-step/FeedbackStep.stories.tsx
  apps/web/src/entities/feedback/ui/feedback-step/index.tsx
  apps/web/src/entities/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/entities/feedback/ui/likert-scale/index.tsx
  apps/web/src/entities/feedback/ui/one-feedback-question/OneFeedbackQuestion.stories.tsx
  apps/web/src/entities/feedback/ui/one-feedback-question/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-58-pass-product-item] setting: 컴포넌트 위치 정리
  packages/ui/src/components/molecule/pass-product-item/PassProductItemBasic.tsx
  packages/ui/src/components/molecule/pass-product-item/index.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-57-progress] fix: 코드 추가 수정
  packages/ui/src/components/atom/progress-bar/example.json
  packages/ui/src/components/atom/progress-bar/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: 개별 컴포넌트 관련 상수 파일을 config 폴더로 이동
  apps/web/src/entities/feedback/config/feedback-step.ts
  apps/web/src/entities/feedback/config/likert-scale.ts
  apps/web/src/entities/feedback/model/feedback.ts
  apps/web/src/entities/feedback/ui/feedback-step/FeedbackStep.stories.tsx
  apps/web/src/entities/feedback/ui/feedback-step/index.tsx
  apps/web/src/entities/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/entities/feedback/ui/likert-scale/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: OneFeedbackQuestion 컴포넌트 추가
  apps/web/src/entities/feedback/model/feedback.ts
  apps/web/src/entities/feedback/ui/one-feedback-question/OneFeedbackQuestion.stories.tsx
  apps/web/src/entities/feedback/ui/one-feedback-question/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-59-storybook] chore: pr이 올라올때 스토리북 관련 ci/cd 로직을 실행시킵니다.
  .github/workflows/chromatic.yml
Due: none

[ANI-46-text-area] feat: 공용 TextArea 컴포넌트 추가
  packages/ui/src/components/atom/text-area/TextArea.stories.tsx
  packages/ui/src/components/atom/text-area/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-62-zod-의존성-추가] feat: 최상단 package.json에 zod 의존성 추가
  package.json
  pnpm-lock.yaml
Due: none

[ANI-59-storybook] refactor: globals.css를 하나로 통일합니다.
  apps/web/.storybook/preview.tsx
  apps/web/app/layout.tsx
  apps/web/src/styles/globals.css
  config/libs/globals.css
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-56-icon] refactor: leftIcon을 제거합니다.
  packages/ui/package.json
  packages/ui/src/components/atom/button/OutlinedButton.stories.tsx
  packages/ui/src/components/atom/button/OutlinedButton.tsx
  packages/ui/src/components/atom/button/SolidButton.stories.tsx
  packages/ui/src/components/atom/button/SolidButton.tsx
  packages/ui/src/components/atom/button/TextButton.stories.tsx
  packages/ui/src/components/atom/button/TextButton.tsx
  packages/ui/src/components/atom/button/example.json
  packages/ui/src/components/atom/button/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-56-icon] feat: icon 컴포넌트를 추가합니다.
  packages/ui/package.json
  packages/ui/src/components/atom/button/OutlinedButton.stories.tsx
  packages/ui/src/components/atom/button/SolidButton.stories.tsx
  packages/ui/src/components/atom/button/TextButton.stories.tsx
  packages/ui/src/components/atom/icon/Icon.stories.tsx
  packages/ui/src/components/atom/icon/index.tsx
  packages/ui/src/components/atom/icon/variants.ts
  pnpm-lock.yaml
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-56-icon] feat: icon 경로설정을 추가합니다.
  packages/ui/package.json
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"
