Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-120-status-button] refactor: input 컴포넌트로 변경합니다.
  packages/ui/src/components/check/Check.stories.tsx
  packages/ui/src/components/check/index.tsx
  packages/ui/src/components/checkbox/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: 처음 링크만 활성화 되게 변경합니다.
  apps/web/src/shared/ui/NavigationLinks/NavigationLinks.stories.tsx
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: button 을 분리합니다.
  apps/web/src/features/path/ui/path-cancle-button/PathCancleButton.stories.tsx
  apps/web/src/features/path/ui/path-cancle-button/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: Icon color 전달되도록 수정
  packages/ui/src/components/icon/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: color 테일윈드 지정 컬러 전달 가능하도록 수정
  packages/ui/src/components/icon/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-120-status-button] refactor: 색상을 변경합니다.
  packages/ui/src/components/check/Check.stories.tsx
  packages/ui/src/components/check/index.tsx
  packages/ui/src/components/radio-btn/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: PaginationControls 컴포넌트 추가
  apps/web/src/shared/ui/pagination-controls/PaginationControls.stories.tsx
  apps/web/src/shared/ui/pagination-controls/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-120-status-button] feat: checkbox를 추가합니다.
  packages/ui/src/components/check-box/CheckBox.stories.tsx
  packages/ui/src/components/check-box/index.tsx
  packages/ui/src/components/check-box/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: 메인페이지 목데이터 작업
  apps/web/app/page.tsx
  apps/web/src/__mock__/data/main.ts
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/handler/main.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: PathProductItemProgress fullWidth 추가
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: MainPage 스토리북, 페이지 구조 잡기
  apps/web/src/views/MainPage/MainPage.stories.tsx
  apps/web/src/views/MainPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: AssignmentList 퍼블리싱
  apps/web/src/widgets/main/ui/assignment-list/AssignmentList.stories.tsx
  apps/web/src/widgets/main/ui/assignment-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: LeaningSummaryList 퍼블리싱
  apps/web/src/widgets/main/ui/leaning-summary-list/LeaningSummaryList.stories.tsx
  apps/web/src/widgets/main/ui/leaning-summary-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: Icon variants 추가
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: path 리스트 컴포넌트 구조 작업
  apps/web/src/widgets/main/ui/open-soon-path-list/OpenSoonPathList.stories.tsx
  apps/web/src/widgets/main/ui/open-soon-path-list/index.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/RecruitingPathList.stories.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/index.tsx
  apps/web/src/widgets/main/ui/upcoming-path-list/UpcomingPathList.stories.tsx
  apps/web/src/widgets/main/ui/upcoming-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: PaginationControls 코드 수정
  apps/web/src/shared/ui/pagination-controls/PaginationControls.stories.tsx
  apps/web/src/shared/ui/pagination-controls/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: Icon 컴포넌트 수정
  apps/web/src/shared/ui/pagination-controls/index.tsx
  packages/ui/src/components/icon/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: 메인페이지 수정
  apps/web/src/views/MainPage/MainPage.stories.tsx
  apps/web/src/views/MainPage/index.tsx
  apps/web/src/widgets/main/ui/assignment-list/AssignmentList.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: Icon 코드 복구 사용법 수정
  apps/web/src/shared/ui/pagination-controls/index.tsx
  packages/ui/src/components/icon/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: 코드 수정
  apps/web/src/shared/ui/pagination-controls/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: 메인페이지, PathProductItemBasic 기획상 변경
  apps/web/src/shared/ui/path-product-item/PathProductItemAssignment.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.stories.tsx
  apps/web/src/views/MainPage/index.tsx
  apps/web/src/widgets/main/ui/upcoming-path-list/UpcomingPathList.stories.tsx
  apps/web/src/widgets/main/ui/upcoming-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: LeaningSummaryList 컴포넌트 추가
  apps/web/src/__mock__/data/main.ts
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
  apps/web/src/widgets/main/ui/open-soon-path-list/index.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: OpenSoonPathList 컴포넌트 추가
  apps/web/src/widgets/main/ui/open-soon-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: OpenSoonPathList 컴포넌트 추가
  apps/web/src/__mock__/data/main.ts
  apps/web/src/widgets/main/ui/assignment-list/index.tsx
  apps/web/src/widgets/main/ui/leaning-summary-list/index.tsx
  apps/web/src/widgets/main/ui/open-soon-path-list/index.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] fix: 스토리북 data 연동
  apps/web/src/widgets/main/ui/leaning-summary-list/LeaningSummaryList.stories.tsx
  apps/web/src/widgets/main/ui/open-soon-path-list/OpenSoonPathList.stories.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/RecruitingPathList.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 피드백 제출 관련 msw 로직 추가
  apps/web/src/__mock__/data/feedback.ts
  apps/web/src/__mock__/handler/path.ts
  apps/web/src/__mock__/types/feedback.ts
  apps/web/src/widgets/feedback/config/likert-scale.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 패스 피드백 페이지와 파트 피드백 페이지 분리리
  apps/web/app/path/[pathId]/detail/feedback/page.tsx
  apps/web/app/path/[pathId]/feedback/page.tsx
  apps/web/src/views/PartFeedbackPage/PartFeedbackPage.stories.tsx
  apps/web/src/views/PartFeedbackPage/index.tsx
  apps/web/src/views/PathFeedbackPage/PathFeedbackPage.stories.tsx
  apps/web/src/views/PathFeedbackPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: [partId] 동적 라우팅 추가
  apps/web/app/path/[pathId]/detail/[partId]/[pageId]/page.tsx
  apps/web/app/path/[pathId]/detail/[partId]/feedback/page.tsx
  apps/web/app/path/[pathId]/feedback/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: pathId, partId params를 각 페이지에 전달
  apps/web/src/__mock__/data/feedback.ts
  apps/web/src/views/PartFeedbackPage/PartFeedbackPage.stories.tsx
  apps/web/src/views/PartFeedbackPage/index.tsx
  apps/web/src/views/PathFeedbackPage/PathFeedbackPage.stories.tsx
  apps/web/src/views/PathFeedbackPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 피드백 데이터 목록 대기 컴포넌트 추가
  apps/web/app/path/[pathId]/detail/[partId]/feedback/loading.tsx
  apps/web/app/path/[pathId]/detail/[partId]/feedback/page.tsx
  apps/web/app/path/[pathId]/feedback/loading.tsx
  apps/web/app/path/[pathId]/feedback/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: HTTP 요청 관련 상수 추가
  apps/web/src/shared/config/constants/http.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 피드백 관련 mock api 로직 추가
  apps/web/src/entities/path/lib/apis/feedback.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 피드백 조회 및 제출을 위한 기본 apis, hooks 추가
  apps/web/src/entities/feedback/lib/apis/get-part-feedback.ts
  apps/web/src/entities/feedback/lib/apis/get-path-feedback.ts
  apps/web/src/entities/feedback/lib/apis/index.ts
  apps/web/src/entities/feedback/lib/hooks/index.ts
  apps/web/src/entities/feedback/lib/hooks/use-get-part-feedback.ts
  apps/web/src/entities/feedback/lib/hooks/use-get-path-feedback.ts
  apps/web/src/entities/path/lib/apis/feedback.ts
  apps/web/src/features/feedback/index.ts
  apps/web/src/features/feedback/lib/apis/index.ts
  apps/web/src/features/feedback/lib/apis/post-part-feedback.ts
  apps/web/src/features/feedback/lib/apis/post-path-feedback.ts
  apps/web/src/features/feedback/lib/hooks/index.ts
  apps/web/src/features/feedback/lib/hooks/use-submit-part-feedback.ts
  apps/web/src/features/feedback/lib/hooks/use-submit-path-feedback.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 피드백 데이터 제출 버튼 추가
  apps/web/src/features/feedback/ui/part-feedback-submit-button/PartFeedbackSubmitButton.stories.tsx
  apps/web/src/features/feedback/ui/part-feedback-submit-button/index.tsx
  apps/web/src/features/feedback/ui/path-feedback-submit-button/PathFeedbackSubmitButton.stories.tsx
  apps/web/src/features/feedback/ui/path-feedback-submit-button/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: 피드백 문항 데이터 렌더링 컴포넌트를 widgets 폴더에서 entities 폴더로 이동
  apps/web/src/__mock__/data/feedback.ts
  apps/web/src/entities/feedback/ui/feedback-list/MentoFeedback.tsx
  apps/web/src/entities/feedback/ui/feedback-list/PairFeedback.tsx
  apps/web/src/entities/feedback/ui/feedback-list/PartFeedback.tsx
  apps/web/src/entities/feedback/ui/feedback-list/PathFeedback.tsx
  apps/web/src/entities/feedback/ui/feedback-list/index.ts
  apps/web/src/views/PartFeedbackPage/index.tsx
  apps/web/src/views/PathFeedbackPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: introduce page 피드백 반영
  apps/web/src/__mock__/data/path.ts
  apps/web/src/entities/path/ui/curriculum-bar/index.tsx
  apps/web/src/features/path/ui/path-apply-button/index.tsx
  apps/web/src/features/path/ui/path-cancle-button/index.tsx
  apps/web/src/shared/hook/use-intersection-observer.ts
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/widgets/path/model/path-introduce.ts
  apps/web/src/widgets/path/ui/curriculum-bar/CurriculumBar.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-bar/index.tsx
  apps/web/src/widgets/path/ui/curriculum-custom-text/CurriculumCustomText.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-custom-text/index.tsx
  packages/ui/src/components/flex/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: 필요없는 코드를 제거합니다.
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] fix: 불필요한 args를 제거합니다.
  apps/web/src/shared/ui/NavigationLinks/NavigationLinks.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: storybook 파일을 수정을 위해 content 파일을 분리합니다.
  apps/web/src/__mock__/data/path.ts
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/widgets/path/ui/curriculum-bar/CurriculumBar.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-content/CurriculumContent.stories.tsx
  apps/web/src/widgets/path/ui/curriculum-content/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] chore: TextArea 스타일 수정
  apps/web/src/widgets/feedback/ui/feedback-list/index.tsx
  packages/ui/src/components/text-area/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

Path conditions:
  pnpm --filter @ani/web next lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}": any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/util/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/util/**/*.{js,jsx,ts,tsx}
