Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-58-pass-product-item] feat: PassProductItemBasic 컴포넌트 추가
  apps/web/.storybook/main.ts
  apps/web/app/page.tsx
  apps/web/public/avif/placeholder.avif
  packages/ui/package.json
  packages/ui/src/components/molecule/pass-product-item/PassProductItemBasic.stories.tsx
  packages/ui/src/components/molecule/pass-product-item/PassProductItemBasic.tsx
  packages/ui/src/components/molecule/pass-product-item/index.ts
  packages/ui/src/components/molecule/pass-product-item/index.tsx
  packages/ui/src/components/molecule/pass-product-item/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-58-pass-product-item] fix: ImageSection 스토리북 이미지 변경
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-58-pass-product-item] fix:PprogressBar transformOrigin: "center left"로 변경
  apps/web/app/page.tsx
  packages/ui/src/components/atom/progress-bar/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-58-pass-product-item] fix: pass -> path 수정
  packages/ui/package.json
  packages/ui/src/components/molecule/pass-product-item/index.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.stories.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.tsx
  packages/ui/src/components/molecule/path-product-item/index.tsx
  packages/ui/src/components/molecule/path-product-item/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-46-text-area] style: TextArea 스타일 추가
  packages/ui/src/components/atom/text-area/TextArea.stories.tsx
  packages/ui/src/components/atom/text-area/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-46-text-area] feat: Indicator 유무에 따른 story 분리
  packages/ui/src/components/atom/text-area/TextArea.stories.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-46-text-area] style: text indicator error status 추가
  packages/ui/src/components/atom/text-area/TextArea.stories.tsx
  packages/ui/src/components/atom/text-area/index.tsx
  packages/ui/src/components/atom/text-area/variants.ts
  packages/ui/src/components/atom/typography/index.tsx
  packages/ui/src/components/atom/typography/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-46-text-area] feat: textArea length error 관련 타입 체크 조건 추가
  packages/ui/src/components/atom/text-area/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-46-text-area] chore: textArea component exports 구문 추가
  packages/ui/package.json
Due: none

[ANI-24-path-product-item-progress] fix: asChild 삭제
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] feat: PathProductItemProgress 컴포넌트 추가
  apps/web/app/page.tsx
  packages/ui/src/components/atom/image-section/index.tsx
  packages/ui/src/components/atom/progress-bar/index.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.stories.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.stories.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.tsx
  packages/ui/src/components/molecule/path-product-item/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] fix: 테스트 코드 제거
  apps/web/app/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] fix: 태그 수정
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] fix: 코드 수정
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.stories.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] fix: 스토리북 layout 수정
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.stories.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-63-package] chore: version을 변경하지 못하게 합니다.
  .npmrc
Due: none

[ANI-47-feedback-page] feat: 피드백 페이지 추가
  apps/web/app/[pathId]/[partId]/page.tsx
  apps/web/app/[pathId]/feedback/page.tsx
  apps/web/app/[pathId]/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-63-package] chore: pnpm install에 따른 pnpm-lock 파일 생성
  pnpm-lock.yaml
Due: none

[ANI-63-package] chore: pnpm version을 고정시킵니다.
  pnpm-lock.yaml
Due: none

[ANI-63-package] chore: 불필요한 npmrc 구문을 제거합니다.
  .npmrc
Due: none

[ANI-47-feedback-page] feat: 객체에서 key를 추출하기 위한 util 함수 추가
  apps/web/src/shared/lib/extract-keys-from-object.tsx
  apps/web/src/shared/lib/index.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-71-funnel] feat: 공용 funnel 컴포넌트 추가
  apps/web/src/shared/ui/funnel/Funnel.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-71-funnel] feat: PropsNeedChildren 공용 타입 추가
  apps/web/src/types/index.d.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-71-funnel] feat: funnel 사용을 위한 hook 추가
  apps/web/src/shared/ui/funnel/funnel-type.ts
  apps/web/src/shared/ui/funnel/index.tsx
  apps/web/src/shared/ui/index.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: extractKeysFromObject 함수 JSDocs 추가
  apps/web/src/shared/lib/extract-keys-from-object.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-69-Storybook] refactor: storybook에서 절대경로를 읽기위해 설정을 변경합니다.
  apps/web/.storybook/main.ts
  apps/web/tsconfig.json
  packages/ui/src/components/atom/badge/Badge.stories.tsx
  packages/ui/src/components/atom/badge/index.tsx
  packages/ui/src/components/atom/button/OutlinedButton.tsx
  packages/ui/src/components/atom/button/SolidButton.stories.tsx
  packages/ui/src/components/atom/button/SolidButton.tsx
  packages/ui/src/components/atom/button/TextButton.stories.tsx
  packages/ui/src/components/atom/button/TextButton.tsx
  packages/ui/src/components/atom/button/index.tsx
  packages/ui/src/components/atom/button/variants.ts
  packages/ui/src/components/atom/flex/Flex.stories.tsx
  packages/ui/src/components/atom/flex/index.tsx
  packages/ui/src/components/atom/icon/index.tsx
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
  packages/ui/src/components/atom/image-section/index.tsx
  packages/ui/src/components/atom/progress-bar/ProgressBar.stories.tsx
  packages/ui/src/components/atom/progress-bar/index.tsx
  packages/ui/src/components/atom/radio-group/RadioGroup.stories.tsx
  packages/ui/src/components/atom/spacing-block/SpacingBlock.stories.tsx
  packages/ui/src/components/atom/spacing-block/index.tsx
  packages/ui/src/components/atom/typography/Typogrpahy.stories.ts
  packages/ui/src/components/atom/typography/index.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.stories.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.tsx
  packages/ui/src/components/molecule/path-product-item/variants.ts
  packages/ui/src/components/renderComponents.tsx
  packages/ui/src/types/server-driven.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.js
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-69-Storybook] fix: typescript 체크 경로를 실행 경로만 포함시킵니다.
  apps/web/tsconfig.json
Due: none

[ANI-71-funnel] refactor: Funnel 관련 로직 하나의 훅 함수로 취합
  apps/web/src/shared/lib/hooks/use-funnel.tsx
  apps/web/src/shared/ui/funnel/Funnel.tsx
  apps/web/src/shared/ui/funnel/funnel-type.ts
  apps/web/src/shared/ui/funnel/index.tsx
  apps/web/src/shared/ui/index.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-82-ui] refactor: button 컴포넌트의 위치를 변경합니다.
  packages/ui/src/client-components.ts
  packages/ui/src/static-components.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: entities 폴더에서 widgets 폴더로 이동
  apps/web/src/entities/feedback/model/feedback.ts
  apps/web/src/entities/feedback/ui/one-feedback-question/OneFeedbackQuestion.stories.tsx
  apps/web/src/entities/feedback/ui/one-feedback-question/index.tsx
  apps/web/src/view/FeedbackPage.tsx
  apps/web/src/widgets/feedback/config/feedback-step.ts
  apps/web/src/widgets/feedback/config/likert-scale.ts
  apps/web/src/widgets/feedback/ui/feedback-step/FeedbackStep.stories.tsx
  apps/web/src/widgets/feedback/ui/feedback-step/index.tsx
  apps/web/src/widgets/feedback/ui/likert-scale/LikertScale.stories.tsx
  apps/web/src/widgets/feedback/ui/likert-scale/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: example.json 파일 생성
  apps/web/src/widgets/feedback/ui/feedback-list/example.json
Due: none

[ANI-47-feedback-page] feat: FeedbackList 컴포넌트 추가
  apps/web/src/widgets/feedback/ui/feedback-list/FeedbackList.stories.tsx
  apps/web/src/widgets/feedback/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] refactor: ImageSection 코드 수정
  packages/ui/src/components/atom/image-section/ImageSection.stories.tsx
  packages/ui/src/components/atom/image-section/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-82-ui] fix: web내 import 구문을 수정합니다.
  apps/web/app/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-24-path-product-item-progress] fix: useMemo 코드 최적화
  packages/ui/src/components/molecule/path-product-item/PathProductItemBasic.tsx
  packages/ui/src/components/molecule/path-product-item/PathProductItemProgress.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-82-ui] fix: 자동완성 지원, react error 수정
  apps/web/app/page.tsx
  config/ts-config/nextjs.json
  packages/ui/package.json
  packages/ui/src/client.ts
  packages/ui/src/empty-entry.ts
  packages/ui/src/server.ts
  packages/ui/vite.config.js
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-82-ui] refactor: ui alias를 @repo/ui로 변경합니다.
  apps/web/.storybook/main.ts
  apps/web/app/page.tsx
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
  apps/web/src/shared/core/sdu/index.tsx
  apps/web/src/shared/core/sdu/server-driven.ts
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
  apps/web/src/shared/ui/path-product-item/variants.ts
  apps/web/tsconfig.json
  packages/ui/package.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-82-ui] fix: 불러오지 못하는 오류를 수정합니다.
  apps/web/app/page.tsx
  apps/web/src/features/feedback/ui/feedback-step/index.tsx
  apps/web/src/features/feedback/ui/likert-scale/index.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.tsx
  apps/web/tsconfig.json
  packages/ui/package.json
  packages/ui/src/client.ts
  packages/ui/src/components/badge/Badge.stories.tsx
  packages/ui/src/components/badge/index.tsx
  packages/ui/src/components/button/OutlinedButton.tsx
  packages/ui/src/components/button/SolidButton.stories.tsx
  packages/ui/src/components/button/SolidButton.tsx
  packages/ui/src/components/button/TextButton.stories.tsx
  packages/ui/src/components/button/TextButton.tsx
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/button/variants.ts
  packages/ui/src/components/flex/Flex.stories.tsx
  packages/ui/src/components/flex/index.tsx
  packages/ui/src/components/flex/variants.ts
  packages/ui/src/components/icon/index.tsx
  packages/ui/src/components/image-section/ImageSection.stories.tsx
  packages/ui/src/components/progress-bar/ProgressBar.stories.tsx
  packages/ui/src/components/progress-bar/index.tsx
  packages/ui/src/components/radio-group/RadioGroup.stories.tsx
  packages/ui/src/components/spacing-block/SpacingBlock.stories.tsx
  packages/ui/src/components/spacing-block/index.tsx
  packages/ui/src/components/spacing-block/variants.ts
  packages/ui/src/components/text-area/index.tsx
  packages/ui/src/components/typography/Typogrpahy.stories.ts
  packages/ui/src/components/typography/index.tsx
  packages/ui/src/server.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.js
  packages/util/package.json
  packages/util/src/cn.ts
  packages/util/src/empty.ts
  packages/util/src/index.ts
  packages/util/vite.config.js
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-82-ui] fix: 파일 import 경로를 수정합니다.
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

Path conditions:
  pnpm --filter @ani/web next lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}": any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/util/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/util/**/*.{js,jsx,ts,tsx}
