Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-163-error-fallback] feat: 에러 fallback 페이지를 추가합니다.
  apps/web/app/not-found.tsx
  apps/web/public/webp/question.webp
  apps/web/src/views/error/ui/ErrorFallback.stories.tsx
  apps/web/src/views/error/ui/index.tsx
  config/libs/tailwind.config.cjs
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-163-error-fallback] fix: 자동 태그 대상을 제거합니다.
  .github/auto_assign.yml
Due: none

[ANI-167-refactor-storybook] refactor: storybook을 분리합니다.
  .github/workflows/chromatic.yml
  apps/web/.storybook/main.ts
  apps/web/package.json
  package.json
  packages/sdu/.storybook/main.ts
  packages/sdu/.storybook/preview-head.html
  packages/sdu/.storybook/preview.tsx
  packages/sdu/package.json
  packages/sdu/public/.gitkeep
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview-head.html
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/public/.gitkeep
  packages/ui/src/components/check-box/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-167-refactor-storybook] feat: mdx 문서를 추가합니다.
  apps/web/.storybook/main.ts
  packages/sdu/.storybook/main.ts
  packages/sdu/README.md
  packages/sdu/package.json
  packages/sdu/src/Introduce.mdx
  packages/ui/.storybook/main.ts
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-167-refactor-storybook] chore: chromatic build yml 파일을 추가합니다.
  .github/workflows/mds-chromatic.yml
  .github/workflows/sdu-chromatic.yml
  .github/workflows/web-chromatic.yml
Due: none

[ANI-167-refactor-storybook] fix: lint sort 에러를 수정합니다.
  packages/ui/src/components/check-box/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-167-refactor-storybook] refactor: yml 파일내 web 이름 수정 및 default 이미지를 추가합니다.
  .github/workflows/web-chromatic.yml
  packages/sdu/public/.gitkeep
  packages/sdu/public/avif/placeholder.avif
  packages/ui/public/.gitkeep
  packages/ui/public/avif/placeholder.avif
Due: none

[ANI-167-refactor-storybook] docs: README 수정
  README.md
  docs/ServerDrivenComponent.md
Due: none

[ANI-167-refactor-storybook] chore: react 18버전으로 변경합니다.
  apps/web/package.json
  package.json
  packages/sdu/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm --filter @ani/web next lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}": any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/util/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/util/**/*.{js,jsx,ts,tsx}
