Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @ani/web next lint",
    "pnpm --filter @ani/web prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/ui eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/ui prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/util/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/util eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/util prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ]
}

[ANI-93-frontend-server-driven-ui] docs: numbered-list-item 예제 파일을 추가합니다.
  packages/sdu/src/components/numbered-list-item/Numbered.stories.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: SDU내 불필요한 props들을 제거합니다.
  packages/sdu/src/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] docs: readme를 재작성합니다.
  packages/sdu/README.md
Due: none

[ANI-93-frontend-server-driven-ui] chore: sdu내 repo/utils을 제거합니다.
  pnpm-lock.yaml
Due: none

[ANI-93-frontend-server-driven-ui] fix: type 오류 해결을 위해 상대경로로 수정합니다.
  packages/sdu/src/components/bookmark/Bookmark.stories.tsx
  packages/sdu/src/components/bulleted-list-item/BulletedListItem.stories.tsx
  packages/sdu/src/components/button/CustomButton.stories.tsx
  packages/sdu/src/components/callout/Callout.stories.tsx
  packages/sdu/src/components/divider/Divider.stories.tsx
  packages/sdu/src/components/file/File.stories.tsx
  packages/sdu/src/components/heading1/Heading1.stories.tsx
  packages/sdu/src/components/heading2/Heading2.stories.tsx
  packages/sdu/src/components/heading3/Heading3.stories.tsx
  packages/sdu/src/components/image/Image.stories.tsx
  packages/sdu/src/components/numbered-list-item/Numbered.stories.tsx
  packages/sdu/src/components/quote/Quote.stories.tsx
  packages/sdu/src/components/table/Table.stories.tsx
  packages/sdu/src/components/text/Text.stories.tsx
  packages/sdu/src/components/toggle/Toggle.stories.tsx
Due: none

[ANI-93-frontend-server-driven-ui] fix: import 경로를 변경합니다.
  apps/web/src/entities/path/lib/types/introduce.ts
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] feat: LoginModal 퍼블리싱
  apps/web/app/layout.tsx
  apps/web/package.json
  apps/web/public/webp/discord-icon.webp
  apps/web/src/features/auth/store/index.ts
  apps/web/src/features/auth/store/use-auth-modal-store.ts
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/SignupModal.stories.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
  apps/web/src/shared/ui/header/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-134-pagination-component] fix: 페이지네이션 로직 수정
  packages/ui/src/components/pagination/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] feat: 로그인모달 유효성검사 로직 연동
  apps/web/app/layout.tsx
  apps/web/src/features/auth/model/loginModalSchema.ts
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/SignupModal.stories.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] feat: SignupModal 퍼블리싱 + 유효성 검사 로직 연동
  apps/web/src/features/auth/model/signupModalSchema.ts
  apps/web/src/features/auth/ui/signup-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-134-pagination-component] feat: 페이지네이션 추가 속성 반영
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
  packages/ui/src/components/pagination/Pagination.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: storybook 파일 수정
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
  apps/web/src/features/auth/ui/signup-modal/SignupModal.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: 경로 문제
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] feat: 질문 목록 페이지 기초 레이아웃 구현
  apps/web/src/features/quesion/ui/question-search-bar/QuestionSearchBar.stories.tsx
  apps/web/src/features/quesion/ui/question-search-bar/index.tsx
  apps/web/src/views/QuestionListPage/QuestionListPage.stories.tsx
  apps/web/src/views/QuestionListPage/index.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] feat: 공용 input 수정 및 질문 검색 컴포넌트 추가
  apps/web/src/features/quesion/ui/question-search-bar/index.tsx
  packages/ui/src/components/icon/variants.ts
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] feat: 답변된 질문만 보기 컴포넌트 추가
  apps/web/src/features/quesion/ui/filter-answered-questions/FilterAnsweredQuestions.stories.tsx
  apps/web/src/features/quesion/ui/filter-answered-questions/index.tsx
  apps/web/src/features/quesion/ui/question-search-bar/QuestionSearchBar.stories.tsx
  apps/web/src/views/QuestionListPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] feat: 개별 질문 미리보기 컴포넌트 구현
  apps/web/src/widgets/question/ui/one-question-preview/OneQuestionPreview.stories.tsx
  apps/web/src/widgets/question/ui/one-question-preview/index.tsx
  packages/ui/src/components/badge/index.tsx
  packages/ui/src/components/badge/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] feat: 질문 mock data 추가
  apps/web/src/__mock__/data/question.ts
  apps/web/src/__mock__/types/question.ts
  apps/web/src/views/QuestionListPage/index.tsx
  apps/web/src/widgets/question/ui/navigate-to-form-button/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] feat: 질문 목록 페이지 UI 구현
  apps/web/src/__mock__/data/question.ts
  apps/web/src/__mock__/types/question.ts
  apps/web/src/entities/question/ui/question-list/index.tsx
  apps/web/src/views/QuestionListPage/index.tsx
  apps/web/src/widgets/question/ui/one-question-preview/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] refactor: path(폴더) 구조를 변경합니다.
  apps/web/app/path/[pathId]/detail/[partId]/[pageId]/page.tsx
  apps/web/app/path/[pathId]/introduce/loading.tsx
  apps/web/app/path/[pathId]/introduce/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] feat: end-point와 querykey를 상수로 관리합니다.
  apps/web/src/shared/config/constants/end-point.ts
  apps/web/src/shared/config/constants/querykey.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] feat: path 상세의 mock 데이터를 추가합니다.
  apps/web/src/__mock__/data/path.ts
  apps/web/src/__mock__/handler/path.ts
  apps/web/src/entities/path/lib/apis/get-path-introduce.ts
  apps/web/src/entities/path/lib/apis/get-path-load.ts
  apps/web/src/entities/path/lib/apis/get-path-page.ts
  apps/web/src/entities/path/lib/apis/get-path-sidebar-status.ts
  apps/web/src/entities/path/lib/apis/index.ts
  apps/web/src/entities/path/lib/types/apis.ts
  apps/web/src/entities/path/lib/types/introduce.ts
  apps/web/src/entities/path/model/path-detail.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] docs: 불필요한 스토리북 마크다운을 제거합니다.
  apps/web/src/widgets/path/ui/path-curriculum/PathCurriculum.stories.tsx
  apps/web/src/widgets/path/ui/path-information-banner/PathInformationBanner.stories.tsx
  apps/web/src/widgets/path/ui/path-title-banner/PathTitleBanner.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] feat: 패스 상세 페이지를 구현합니다.
  apps/web/app/path/[pathId]/detail/layout.tsx
  apps/web/app/path/[pathId]/detail/loading.tsx
  apps/web/app/path/[pathId]/detail/page.tsx
  apps/web/app/path/[pathId]/load/loading.tsx
  apps/web/app/path/[pathId]/load/page.tsx
  apps/web/app/path/[pathId]/loading.tsx
  apps/web/app/path/[pathId]/page.tsx
  apps/web/src/entities/path/ui/path-quiz/index.tsx
  apps/web/src/views/PathDetailPage/index.tsx
  apps/web/src/widgets/path/ui/path-detail-nav-link/CheckCurriculumBlock.tsx
  apps/web/src/widgets/path/ui/path-detail-nav-link/InformationBlock.tsx
  apps/web/src/widgets/path/ui/path-detail-nav-link/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] refactor: detail stories를 삭제합니다.
  apps/web/src/views/PathDetailPage/PathDetailPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] fix: floatingaction 컴포넌트가 아무것도 보이지 않아 래퍼 컴포넌트를 추가합니다.
  apps/web/src/shared/ui/floating-action/FloatingAction.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] fix: 잘못된 타입 import를 변경합니다.
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: watch -> useWatch 사용 최적화
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: Flex 잘못된 사용 수정
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: 잘못된 Flex 사용 삭제
  apps/web/src/features/auth/ui/login-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] fix: navigateToForm 위치 변경 및 Typography 속성 수정
  apps/web/src/features/quesion/ui/filter-answered-questions/index.tsx
  apps/web/src/views/QuestionListPage/index.tsx
  apps/web/src/widgets/question/ui/navigate-to-form-button/index.tsx
  apps/web/src/widgets/question/ui/one-question-preview/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-51-question-list-section] chore: featurse 폴더 하위에 feedback, question 폴더 추가
  apps/web/src/features/feedback/ui/part-feedback-submit-button/PartFeedbackSubmitButton.stories.tsx
  apps/web/src/features/feedback/ui/path-feedback-submit-button/PathFeedbackSubmitButton.stories.tsx
  apps/web/src/features/quesion/ui/filter-answered-questions/FilterAnsweredQuestions.stories.tsx
  apps/web/src/features/quesion/ui/question-search-bar/QuestionSearchBar.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-137-path-detail-side-nav-link] feat: layout을 분리하여 ui를 작성합니다.
  apps/web/app/path/[pathId]/detail/layout.tsx
  apps/web/src/__mock__/data/path.ts
  apps/web/src/views/PathDetailPage/PathDetailPage.stories.tsx
  apps/web/src/views/PathDetailPage/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] feat: SDU Checkbox를 구현합니다.
  packages/sdu/src/components/checkbox/Checkbox.stories.tsx
  packages/sdu/src/components/checkbox/Checkbox.tsx
  packages/sdu/src/components/checkbox/example.json
  packages/sdu/src/components/checkbox/index.tsx
  packages/sdu/src/components/checkbox/style.json
  packages/sdu/src/components/text/index.tsx
  packages/sdu/src/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] feat: SDU 목차를 추가합니다.
  packages/sdu/src/components/heading1/example.json
  packages/sdu/src/components/heading1/heading1-content.json
  packages/sdu/src/components/heading1/heading1-style.json
  packages/sdu/src/components/heading1/index.tsx
  packages/sdu/src/components/heading2/Heading2.stories.tsx
  packages/sdu/src/components/heading2/example.json
  packages/sdu/src/components/heading2/heading2-style.json
  packages/sdu/src/components/heading2/index.tsx
  packages/sdu/src/components/heading3/Heading3.stories.tsx
  packages/sdu/src/components/heading3/example.json
  packages/sdu/src/components/heading3/heading3-style.json
  packages/sdu/src/components/heading3/index.tsx
  packages/sdu/src/components/table-of-content/TableOfContent.stories.tsx
  packages/sdu/src/components/table-of-content/example.json
  packages/sdu/src/components/table-of-content/index.tsx
  packages/sdu/src/components/table-of-content/preview.json
  packages/sdu/src/components/table-of-content/style.json
  packages/sdu/src/components/text/index.tsx
  packages/sdu/src/components/toggle/Toggle.stories.tsx
  packages/sdu/src/components/toggle/example.json
  packages/sdu/src/components/toggle/index.tsx
  packages/sdu/src/config/ChildrenDepthComponent.tsx
  packages/sdu/src/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] fix: mock 데이터를 수정합니다.
  apps/web/src/__mock__/data/path.ts
  packages/sdu/src/components/heading1/index.tsx
  packages/sdu/src/components/heading2/index.tsx
  packages/sdu/src/components/heading3/index.tsx
  packages/sdu/src/components/table-of-content/example.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] feat: SDU code를 추가합니다.
  packages/sdu/package.json
  packages/sdu/src/components/code/Code.stories.tsx
  packages/sdu/src/components/code/example.json
  packages/sdu/src/components/code/index.tsx
  packages/sdu/src/index.tsx
  pnpm-lock.yaml
Due: none

[ANI-93-frontend-server-driven-ui] fix: 잘못된 import 구문을 수정합니다.
  packages/sdu/src/components/code/index.tsx
Due: none

[ANI-68-ani-path-detail] fix: 잘못된 import 경로를 수정합니다.
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"
