Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @ani/web next lint",
    "pnpm --filter @ani/web prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/ui eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/ui prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/util/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/util eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/util prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ]
}

[ANI-13-mypage] feat: ProfileEditModal 퍼블리싱 + msw 연동
  apps/web/src/features/mypage/ui/profile-edit-modal/ProfileEditModal.stories.tsx
  apps/web/src/features/mypage/ui/profile-edit-modal/index.tsx
  apps/web/src/widgets/mypage/config/profile-edit-modal.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: 마이페이지 schema 추가
  apps/web/src/features/mypage/model/profileEditSchema.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 잘못된 경로 수정
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 마이페이지 storybook
  apps/web/src/views/MyPage/MyPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] delete: 페이지네이션 중복 작업 파일 삭제
  apps/web/src/shared/ui/pagination/Pagination.stories.tsx
  apps/web/src/shared/ui/pagination/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: css 단위 수정
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: Input 배경 컬러 수정
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] docs: Input storybook description 추가
  packages/ui/src/components/input/Input.stories.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] feat: Modal 폴더를 Portal 폴더로 변경
  apps/web/src/shared/ui/modal/index.tsx
  apps/web/src/shared/ui/portal/Portal.tsx
  apps/web/src/shared/ui/portal/index.tsx
  apps/web/src/shared/ui/portal/modal/CommonModal.stories.tsx
  apps/web/src/shared/ui/portal/modal/CommonModal.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28-modal-component] chore: className 사용하지 않도록 수정
  packages/ui/src/components/modal/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] feat: WithdrawalModal 추가 구현
  apps/web/app/layout.tsx
  apps/web/src/features/mypage/ui/profile-edit-modal/index.tsx
  apps/web/src/features/mypage/ui/withdrawal-modal/WithdrawalModal.stories.tsx
  apps/web/src/features/mypage/ui/withdrawal-modal/index.tsx
  apps/web/src/shared/ui/modal/CommonModal.tsx
  apps/web/src/views/MyPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 경로 수정
  apps/web/src/features/mypage/ui/withdrawal-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] feat: SDU 테이블 컴포넌트를 추가합니다.
  apps/web/src/shared/core/sdu/ServerDrivenComponent.tsx
  apps/web/src/shared/core/sdu/table/Table.stories.tsx
  apps/web/src/shared/core/sdu/table/column-header.json
  apps/web/src/shared/core/sdu/table/example.json
  apps/web/src/shared/core/sdu/table/index.tsx
  apps/web/src/shared/core/sdu/table/row-header.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-118-table] refactor: text 컴포넌트를 통해 스타일 속성들을 관리합니다.
  apps/web/src/shared/core/sdu/paragraph/index.tsx
  apps/web/src/shared/core/sdu/table/Table.stories.tsx
  apps/web/src/shared/core/sdu/table/example.json
  apps/web/src/shared/core/sdu/table/index.tsx
  apps/web/src/shared/core/sdu/table/row-header.json
  apps/web/src/shared/core/sdu/table/table-style.json
  apps/web/src/shared/core/sdu/text/Text.stories.tsx
  apps/web/src/shared/core/sdu/text/example.json
  apps/web/src/shared/core/sdu/text/index.tsx
  apps/web/src/shared/core/sdu/text/table-example.json
  apps/web/src/shared/core/sdu/text/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-118-table] fix: import 경로를 수정합니다.
  apps/web/src/shared/core/sdu/heading1/index.tsx
  apps/web/src/shared/core/sdu/heading2/index.tsx
  apps/web/src/shared/core/sdu/heading3/index.tsx
  apps/web/src/shared/core/sdu/paragraph/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-118-table] fix: 사용하지 않는 import 구문을 제거합니다.
  apps/web/src/shared/core/sdu/table/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-13-mypage] fix: 페이지네이션 컴포넌트 수정 적용
  apps/web/src/widgets/mypage/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] fix: 스토리북 에러를 수정합니다.
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.stories.tsx
  apps/web/src/views/MainPage/MainPage.stories.tsx
  apps/web/src/views/MyPage/MyPage.stories.tsx
  apps/web/src/widgets/main/ui/assignment-list/AssignmentList.stories.tsx
  apps/web/src/widgets/main/ui/leaning-summary-list/LeaningSummaryList.stories.tsx
  apps/web/src/widgets/main/ui/open-soon-path-list/OpenSoonPathList.stories.tsx
  apps/web/src/widgets/main/ui/recruiting-path-list/RecruitingPathList.stories.tsx
  apps/web/src/widgets/mypage/ui/assignment-list/AssignmentList.stories.tsx
  apps/web/src/widgets/mypage/ui/completed-path-list/CompletedPathList.stories.tsx
  apps/web/src/widgets/mypage/ui/feedback-list-section/FeedbackListSection.stories.tsx
  apps/web/src/widgets/mypage/ui/feedback-list/FeedbackList.stories.tsx
  apps/web/src/widgets/mypage/ui/in-progress-path-list/InProgressPathList.stories.tsx
  apps/web/tsconfig.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] feat: SDU 세팅을 분리합니다.
  config/libs/tailwind.config.cjs
  packages/sdu/package.json
  packages/sdu/postcss.config.cjs
  packages/sdu/src/config/variants.ts
  packages/sdu/src/core/server-driven-function.ts
  packages/sdu/src/libs/cn.ts
  packages/sdu/src/types/common.ts
Due: none

[ANI-93-frontend-server-driven-ui] refactor: nextJS 기능을 제거하여 Bookmark를 개선합니다.
  packages/sdu/src/components/bookmark/Bookmark.stories.tsx
  packages/sdu/src/components/bookmark/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: rich_text를 통해 bulleted-list-item 텍스트 스타일을 변경합니다.
  packages/sdu/src/components/bulleted-list-item/BulletedListItem.stories.tsx
  packages/sdu/src/components/bulleted-list-item/index.tsx
  packages/sdu/src/components/bulleted-list-item/style.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: SDU Button의 설명을 변경합니다.
  packages/sdu/src/components/button/CustomButton.stories.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: Button의 아이콘을 이름을 통해 전달받습니다.
  packages/sdu/src/components/button/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: rich_text를 통해 callout 텍스트 스타일을 변경합니다.
  packages/sdu/src/components/callout/example.json
  packages/sdu/src/components/callout/index.tsx
  packages/sdu/src/components/callout/style.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: callout의 설명을 개선합니다.
  packages/sdu/src/components/callout/Callout.stories.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: divider의 설명을 개선합니다.
  packages/sdu/src/components/divider/Divider.stories.tsx
  packages/sdu/src/components/divider/example.json
  packages/sdu/src/components/divider/index.tsx
  packages/sdu/src/components/divider/style.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: file의 스타일을 수정할 수 있도록 변경합니다.
  packages/sdu/src/components/file/File.stories.tsx
  packages/sdu/src/components/file/example.json
  packages/sdu/src/components/file/index.tsx
  packages/sdu/src/components/file/style.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: heading의 스타일을 매핑을 통해 변경할 수 있도록 변경합니다.
  packages/sdu/src/components/heading1/index.tsx
  packages/sdu/src/components/heading2/index.tsx
  packages/sdu/src/components/heading3/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: image의 속성을 추가로 받을 수 있도록 변경합니다.
  packages/sdu/src/components/image/Image.stories.tsx
  packages/sdu/src/components/image/index.tsx
  packages/sdu/src/components/image/size-example.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: rich_text를 통해 numbered-list-item 텍스트 스타일을 변경합니다.
  packages/sdu/src/components/numbered-list-item/Numbered.stories.tsx
  packages/sdu/src/components/numbered-list-item/index.tsx
  packages/sdu/src/components/numbered-list-item/style.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: rich_text를 통해 quote 텍스트 스타일을 변경합니다.
  packages/sdu/src/components/quote/example.json
  packages/sdu/src/components/quote/index.tsx
  packages/sdu/src/components/quote/style.json
Due: none

[ANI-93-frontend-server-driven-ui] docs: quote의 설명을 변경합니다.
  packages/sdu/src/components/quote/Quote.stories.tsx
Due: none

[ANI-93-frontend-server-driven-ui] docs: table의 설명을 변경합니다.
  packages/sdu/src/components/table/Table.stories.tsx
  packages/sdu/src/components/table/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: variant 분리를 통해 text의 코드를 개선합니다.
  packages/sdu/src/components/text/Text.stories.tsx
  packages/sdu/src/components/text/detail-style.json
  packages/sdu/src/components/text/index.tsx
  packages/sdu/src/components/text/wrapper-style.json
Due: none

[ANI-93-frontend-server-driven-ui] refactor: TextProps타입과 variant를 통해 toggle 텍스트 스타일을 변경합니다.
  packages/sdu/src/components/toggle/Toggle.stories.tsx
  packages/sdu/src/components/toggle/example.json
  packages/sdu/src/components/toggle/index.tsx
Due: none
