Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @ani/web next lint",
    "pnpm --filter @ani/web prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/ui eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/ui prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/util/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/util eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/util prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ]
}

[ANI-28] refactor: modal을 client 컴포넌트로 변경합니다.
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/SignupModal.stories.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
  apps/web/src/features/mypage/ui/profile-edit-modal/index.tsx
  apps/web/src/shared/ui/modal/index.tsx
  packages/ui/src/client.ts
  packages/ui/src/server.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: 답변 제출 input 스타일 수정
  apps/web/src/features/quesion/ui/submit-reply-section/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] feat: question pages 관련 stories 폴더 추가
  apps/web/src/entities/question/ui/user-path-drop-down/index.tsx
  apps/web/src/views/question/ui/CreateQuestionPage/CreateQuestionPage.stories.tsx
  apps/web/src/views/question/ui/EditQuestionPage/EditQuestionPage.stories.tsx
  apps/web/src/views/question/ui/QuestionListPage/QuestionListPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: 변경된 Modal 로직 반영 및 EditQuestionModal 외부 영역 클릭 이벤트 추가
  apps/web/src/features/quesion/ui/edit-question-modal/index.tsx
  packages/ui/src/components/modal/index.tsx
  packages/ui/src/components/modal/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] fix: EditQuestionModal story 파일 수정
  apps/web/src/features/quesion/ui/edit-question-modal/EditQuestionModal.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] fix: data 타입명 수정
  apps/web/src/features/quesion/ui/submit-question-section/index.tsx
  apps/web/src/views/question/ui/EditQuestionPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] fix: 리뷰 내용 반영하여 displayName 및 속성명 수정
  apps/web/src/features/quesion/ui/submit-question-section/SubmitQuestionSection.stories.tsx
  apps/web/src/features/quesion/ui/submit-question-section/index.tsx
  packages/ui/src/components/input/index.tsx
  packages/ui/src/components/text-area/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] fix: 변경된 속성 적용
  apps/web/src/features/quesion/ui/submit-reply-section/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] feat: SDU column_list 컴포넌트를 추가합니다.
  packages/sdu/README.md
  packages/sdu/src/components/column-list/CoulmnList.stories.tsx
  packages/sdu/src/components/column-list/example1.json
  packages/sdu/src/components/column-list/example2.json
  packages/sdu/src/components/column-list/index.tsx
  packages/sdu/src/components/index.tsx
  packages/sdu/src/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: SDU code 추가사항을 반영합니다.
  packages/sdu/src/components/code/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: SDU 코드 코드를 최적화 진행합니다.
  packages/sdu/src/components/code/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: 메모이제이션을 통해 최적화를 진행합니다.
  packages/sdu/src/components/code/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] chore: export 경로를 변경합니다.
  packages/sdu/package.json
Due: none

[ANI-139-path-introduce-top-banner] refactor: introduce-page button에 모킹 함수를 연결합니다.
  apps/web/src/__mock__/data/path.ts
  apps/web/src/__mock__/handler/path.ts
  apps/web/src/features/path/api/delete-path-apply-cancle.ts
  apps/web/src/features/path/api/index.ts
  apps/web/src/features/path/api/post-path-apply.ts
  apps/web/src/features/path/config/path-config.ts
  apps/web/src/features/path/ui/ApplyButton.tsx
  apps/web/src/features/path/ui/CancleButton.tsx
  apps/web/src/features/path/ui/path-apply-button/PathApplyButton.stories.tsx
  apps/web/src/features/path/ui/path-apply-button/index.tsx
  apps/web/src/features/path/ui/path-cancle-button/PathCancleButton.stories.tsx
  apps/web/src/features/path/ui/path-cancle-button/index.tsx
  apps/web/src/views/path/ui/IntroducePage/index.tsx
  apps/web/src/widgets/path/ui/introduce/TopBanner.stories.tsx
  apps/web/src/widgets/path/ui/introduce/TopBanner.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] fix: 웹 접근성 개선 및 사용하지 않는 props 제거
  apps/web/src/features/quesion/ui/edit-question-modal/index.tsx
  apps/web/src/features/quesion/ui/submit-reply-section/index.tsx
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-139-path-introduce-top-banner] refactoring: path-introduce에 모달을 연결합니다.
  apps/web/src/features/path/api/delete-path-apply-cancle.ts
  apps/web/src/features/path/api/post-path-apply.ts
  apps/web/src/features/path/model/interruption-submit-schema.ts
  apps/web/src/features/path/ui/ApplyButton.tsx
  apps/web/src/features/path/ui/CancleButton.tsx
  apps/web/src/features/path/ui/InterruptionButton.tsx
  apps/web/src/features/path/ui/apply-interription-modal/InterruptionModal.stories.tsx
  apps/web/src/features/path/ui/apply-interription-modal/index.tsx
  apps/web/src/features/path/ui/apply-modal/ApplyModal.stories.tsx
  apps/web/src/features/path/ui/apply-modal/index.tsx
  apps/web/src/shared/ui/dropdown-menu/index.tsx
  apps/web/src/views/path/api/get-path-introduce.ts
  apps/web/src/views/path/config/path-config.ts
  apps/web/src/widgets/path/ui/introduce/TopBanner.stories.tsx
  apps/web/src/widgets/path/ui/introduce/TopBanner.tsx
  packages/ui/src/components/icon/Icon.stories.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-139-path-introduce-top-banner] refactor: pathId의 타입을 유연하게 변경합니다. string -> string | number
  apps/web/src/entities/path/model/interruption-submit-schema.ts
  apps/web/src/features/path/ui/ApplyButton.tsx
  apps/web/src/features/path/ui/CancleButton.tsx
  apps/web/src/features/path/ui/InterruptionButton.tsx
  apps/web/src/features/path/ui/apply-interription-modal/index.tsx
  apps/web/src/features/path/ui/apply-modal/index.tsx
  apps/web/src/widgets/path/ui/introduce/TopBanner.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: env 설정을 추가합니다.
  apps/web/.env.sample
  apps/web/src/shared/types/index.d.ts
  turbo.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: next-auth 로직을 작성합니다.
  apps/web/.env.sample
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/package.json
  apps/web/src/auth.ts
  apps/web/src/middleware.ts
  apps/web/src/shared/types/index.d.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: login, signup api를 연결합니다.
  apps/web/.env.sample
  apps/web/src/__mock__/types/auth.ts
  apps/web/src/auth.ts
  apps/web/src/features/auth/api/index.ts
  apps/web/src/features/auth/api/login.ts
  apps/web/src/features/auth/config/auth-config.ts
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
  apps/web/src/shared/types/index.d.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: discord oauth 로그인 기능을 추가합니다.
  apps/web/.env.sample
  apps/web/app/api/v1/auth/social/discord/callback/route.ts
  apps/web/app/layout.tsx
  apps/web/src/auth.ts
  apps/web/src/entities/auth/model/discordOauthSchema.ts
  apps/web/src/entities/auth/model/index.ts
  apps/web/src/features/auth/api/index.ts
  apps/web/src/features/auth/api/oauth-login.ts
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/shared/types/index.d.ts
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: dropdown menu를 추가합니다.
  apps/web/src/shared/ui/dropdown-menu/index.tsx
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: local 회원가입/로그인 기능을 추가합니다.
  apps/web/src/auth.ts
  apps/web/src/entities/auth/model/discordOauthSchema.ts
  apps/web/src/entities/auth/model/index.ts
  apps/web/src/entities/auth/model/loginModalSchema.ts
  apps/web/src/entities/auth/model/tokenSchema.ts
  apps/web/src/features/auth/api/login.ts
  apps/web/src/features/auth/api/signup.ts
  apps/web/src/shared/types/index.d.ts
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: env 샘플파일을 수정합니다.
  apps/web/.env.sample
Due: none

[ANI-87-auth-api-connect] chore: 빌드 검사를 제거합니다.
  .github/workflows/pr-check.yml
  .husky/pre-push
  apps/web/app/error/page.tsx
  apps/web/app/layout.tsx
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] refactor: story 파일을 변경합니다.
  apps/web/src/shared/ui/header/Header.stories.tsx
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] refactor: 받아오는 형식을 통일화 합니다.
  apps/web/app/api/v1/auth/social/discord/callback/route.ts
  apps/web/src/features/auth/api/oauth-login.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] refactor: oauth-login 타입을 추가합니다.
  apps/web/app/api/v1/auth/social/discord/callback/route.ts
  apps/web/src/features/auth/api/oauth-login.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] feat: introduce api를 연결합니다.
  apps/web/app/path/[pathId]/page.tsx
  apps/web/src/shared/types/path.ts
  apps/web/src/views/path/api/get-path-introduce.ts
  apps/web/src/views/path/model/apis.ts
  apps/web/src/views/path/ui/IntroducePage/index.tsx
  apps/web/src/widgets/path/ui/introduce/CurriculumBar.tsx
  apps/web/src/widgets/path/ui/introduce/TopBanner.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] refactor: 사용하지 않는 타입을 제거합니다.
  apps/web/src/views/path/api/get-path-introduce.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] refactor: 아이콘 간의 격차를 늘립니다.
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] refactor: console.log를 제거합니다.
  apps/web/app/path/[pathId]/page.tsx
  apps/web/src/widgets/path/ui/introduce/CurriculumBar.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] refactor: key 값을 추가합니다.
  apps/web/src/widgets/path/ui/introduce/CurriculumContent.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-141-path-detail-api-connect] fix: mock 데이터를 변경합니다.
  apps/web/src/__mock__/data/path.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] refactor: mainpage next-auth를 제거합니다.
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/app/api/v1/auth/social/discord/callback/route.ts
  apps/web/app/example.json
  apps/web/app/layout.tsx
  apps/web/package.json
  apps/web/src/auth.ts
  apps/web/src/features/auth/api/get-login-status.ts
  apps/web/src/features/auth/api/index.ts
  apps/web/src/features/auth/api/local-login.ts
  apps/web/src/features/auth/api/sign-out.ts
  apps/web/src/features/auth/api/token-management.ts
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/middleware.ts
  apps/web/src/shared/ui/header/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: 훅을 이용하여 로그인 기능을 담당합니다.
  apps/web/app/api/auth/callback/route.ts
  apps/web/app/api/auth/token/route.ts
  apps/web/app/layout.tsx
  apps/web/package.json
  apps/web/src/__mock__/handler/auth.ts
  apps/web/src/features/auth/api/get-access-token.ts
  apps/web/src/features/auth/api/get-login-status.ts
  apps/web/src/features/auth/api/get-role.ts
  apps/web/src/features/auth/api/index.ts
  apps/web/src/features/auth/api/local-login.ts
  apps/web/src/features/auth/api/oauth-login.ts
  apps/web/src/features/auth/api/signup.ts
  apps/web/src/features/auth/api/token-management.ts
  apps/web/src/features/auth/config/auth-config.ts
  apps/web/src/features/auth/model/index.ts
  apps/web/src/features/auth/model/use-auth-modal-store.ts
  apps/web/src/features/auth/model/use-auth.ts
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
  apps/web/src/features/path/ui/apply-modal/index.tsx
  apps/web/src/shared/config/api/axios.ts
  apps/web/src/shared/config/api/index.ts
  apps/web/src/shared/config/api/numbers.ts
  apps/web/src/shared/config/api/storage-keys.ts
  apps/web/src/shared/libs/query-client.ts
  apps/web/src/shared/types/tanstack-query.ts
  apps/web/src/shared/ui/header/Header.stories.tsx
  apps/web/src/shared/ui/header/index.tsx
  apps/web/src/shared/utils/set-header.ts
  apps/web/src/views/main/ui/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] feat: cookie를 이용한 auth 기능을 추가합니다.
  apps/web/.env.sample
  apps/web/app/api/auth/callback/route.ts
  apps/web/app/api/auth/token/route.ts
  apps/web/app/api/v1/auth/logout/route.ts
  apps/web/app/api/v1/auth/session/route.ts
  apps/web/app/api/v1/auth/social/discord/callback/route.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/entities/auth/model/index.ts
  apps/web/src/entities/auth/model/loginSchema.ts
  apps/web/src/entities/auth/model/signupSchema.ts
  apps/web/src/features/auth/api/get-access-token.ts
  apps/web/src/features/auth/api/get-role.ts
  apps/web/src/features/auth/api/index.ts
  apps/web/src/features/auth/api/local-login.ts
  apps/web/src/features/auth/api/local-signup.ts
  apps/web/src/features/auth/api/oauth-callback.ts
  apps/web/src/features/auth/api/oauth-login.ts
  apps/web/src/features/auth/api/sign-out.ts
  apps/web/src/features/auth/api/signup.ts
  apps/web/src/features/auth/api/token-management.ts
  apps/web/src/features/auth/config/auth-config.ts
  apps/web/src/features/auth/model/auth-store.ts
  apps/web/src/features/auth/model/use-auth.ts
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/SignupModal.stories.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
  apps/web/src/shared/config/api/axios.ts
  apps/web/src/shared/config/api/index.ts
  apps/web/src/shared/libs/session.ts
  apps/web/src/shared/types/index.d.ts
  apps/web/src/shared/ui/header/index.tsx
  apps/web/src/shared/utils/set-header.ts
  apps/web/src/views/main/ui/index.tsx
  apps/web/src/views/path/api/get-path-introduce.ts
  apps/web/src/views/path/config/path-config.ts
  pnpm-lock.yaml
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] fix: type error를 수정합니다.
  apps/web/src/views/path/ui/DetailPage/DetailPage.stories.tsx
  apps/web/src/widgets/path/ui/introduce/TopBanner.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] fix: type error를 수정합니다.
  apps/web/src/widgets/path/ui/sidebar/InformationBlock.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-87-auth-api-connect] fix: 스토리북 오류 제거
  apps/web/src/shared/ui/header/Header.stories.tsx
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"
