Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-83-workflow] chore: workflow를 통해 라벨을 추가및 관리합니다.
  .github/workflows/d-day-labeler.yml
  .github/workflows/notify-line-count.yml
  .github/workflows/notify-pr-review.yml
  .github/workflows/request-pr-review.yml
  .github/workflows/simple-labeler.yml
Due: none

[ANI-83-workflow] feat: SLACK_CHANNEL_ID를 추가합니다
  .github/workflows/notify-pr-review.yml
Due: none

[ANI-83-workflow] chore: slack 알림을 제거합니다.
  .github/workflows/notify-line-count.yml
  .github/workflows/notify-pr-review.yml
Due: none

[ANI-25-path-product-assignment] feat: PathProductItemAssignment 컴포넌트 추가
  apps/web/src/shared/ui/path-product-item/PathProductItemAssignment.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemAssignment.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.stories.tsx
  apps/web/src/shared/ui/path-product-item/index.tsx
  apps/web/src/shared/ui/path-product-item/variants.ts
  packages/ui/src/components/badge/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-25-path-product-assignment] fix: description 수정
  apps/web/src/shared/ui/path-product-item/PathProductItemAssignment.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: pathDetail Mock 데이터를 추가합니다.
  apps/web/app/path/[pathId]/detail/[pageId]/page.tsx
  apps/web/app/path/[pathId]/introduce/page.tsx
  apps/web/src/__mock__/data/path.ts
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/handler/path.ts
  apps/web/src/pages/IntroducePage/index.tsx
  apps/web/src/pages/PathDetailPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: storybook 파일을 추가합니다.
  apps/web/src/pages/IntroducePage/IntroducePage.stories.tsx
  apps/web/src/pages/PathDetailPage/PathDetailPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-25-path-product-assignment] fix: Flex 컴포넌트 적용
  apps/web/src/shared/ui/path-product-item/PathProductItemAssignment.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemProgress.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-26-path-product-item-done] feat: PathProductItemDone 컴포넌트 추가
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemDone.tsx
  apps/web/src/shared/ui/path-product-item/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: FeedbackList 구현
  apps/web/app/[pathId]/[partId]/feedback/page.tsx
  apps/web/src/pages/FeedbackPage/index.tsx
  apps/web/src/view/FeedbackPage.tsx
  apps/web/src/view/index.ts
  apps/web/src/widgets/feedback/ui/feedback-list/FeedbackList.stories.tsx
  apps/web/src/widgets/feedback/ui/feedback-list/index.tsx
  apps/web/tsconfig.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: develop branch에 맞춰 페이지 경로 수정
  apps/web/app/[pathId]/[partId]/page.tsx
  apps/web/app/[pathId]/page.tsx
  apps/web/app/path/[pathId]/detail/[pageId]/feedback/page.tsx
  apps/web/app/path/[pathId]/detail/[pageId]/page.tsx
  apps/web/app/path/[pathId]/feedback/page.tsx
  apps/web/src/pages/FeedbackPage/FeedbackPage.stories.tsx
  apps/web/src/widgets/feedback/ui/feedback-list/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] fix: useFunnel next router 관련 문제 수정
  apps/web/app/path/[pathId]/detail/feedback/page.tsx
  apps/web/src/pages/FeedbackPage/index.tsx
  apps/web/src/shared/lib/hooks/use-funnel.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: 각 단계별 페이지 추가
  apps/web/src/widgets/feedback/ui/MentoFeedback.tsx
  apps/web/src/widgets/feedback/ui/PairFeedback.tsx
  apps/web/src/widgets/feedback/ui/PartFeedback.tsx
  apps/web/src/widgets/feedback/ui/PathFeedback.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 공용 header, layout 설정을 추가합니다.
  apps/web/app/layout.tsx
  apps/web/app/path/[pathId]/detail/[pageId]/page.tsx
  apps/web/app/path/[pathId]/introduce/page.tsx
  apps/web/app/path/[pathId]/layout.tsx
  apps/web/src/__mock__/data/path.ts
  apps/web/src/pages/IntroducePage/index.tsx
  apps/web/src/shared/ui/header/Header.stories.tsx
  apps/web/src/shared/ui/header/index.tsx
  apps/web/src/shared/ui/logo/Logo.stories.tsx
  apps/web/src/shared/ui/logo/Logo.styles.module.css
  apps/web/src/shared/ui/logo/NaNJauneTRIAL-Regular.subset.ttf
  apps/web/src/shared/ui/logo/index.tsx
  apps/web/src/views/IntroducePage/IntroducePage.stories.tsx
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/views/PathDetailPage/PathDetailPage.stories.tsx
  apps/web/src/views/PathDetailPage/index.tsx
  apps/web/tsconfig.json
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: mock data 사용하여 질문 컴포넌트 렌더링
  apps/web/src/__mock__/data/feedback.ts
  apps/web/src/pages/FeedbackPage/index.tsx
  apps/web/src/widgets/feedback/ui/MentoFeedback.tsx
  apps/web/src/widgets/feedback/ui/PairFeedback.tsx
  apps/web/src/widgets/feedback/ui/PartFeedback.tsx
  apps/web/src/widgets/feedback/ui/PathFeedback.tsx
  apps/web/src/widgets/feedback/ui/feedback-list/example.json
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: spacing block의 기본 border 값을 안보이게 변경합니다.
  packages/ui/src/components/spacing-block/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 누락된 mint 컬러값을 추가합니다
  config/libs/tailwind.config.cjs
Due: none

[ANI-33-Introduce] feat: divider 컴포넌트를 추가합니다.
  packages/ui/src/components/divider/Divider.stories.tsx
  packages/ui/src/components/divider/index.tsx
  packages/ui/src/server.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: button의 full 사이즈를 추가합니다.
  packages/ui/src/components/button/OutlinedButton.tsx
  packages/ui/src/components/button/SolidButton.tsx
  packages/ui/src/components/button/TextButton.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 사용하는 icon을 추가합니다.
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: flex 컴포넌트의 기본 값을 변경합니다.
  packages/ui/src/components/flex/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: util 파일 위치 변경
  apps/web/src/pages/FeedbackPage/index.tsx
  apps/web/src/shared/lib/utils/extract-keys-from-object.tsx
  apps/web/src/shared/lib/utils/index.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] feat: 타입 단언 사용하지 않도록 함수 수정
  apps/web/src/pages/FeedbackPage/index.tsx
  apps/web/src/shared/lib/utils/extract-keys-from-object.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: 불필요한 div 태그 제거
  apps/web/src/widgets/feedback/ui/MentoFeedback.tsx
  apps/web/src/widgets/feedback/ui/PairFeedback.tsx
  apps/web/src/widgets/feedback/ui/PartFeedback.tsx
  apps/web/src/widgets/feedback/ui/PathFeedback.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-12-main-page] feat: main mock data 추가
  apps/web/src/__mock__/data/main.ts
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.stories.tsx
  apps/web/src/shared/ui/path-product-item/PathProductItemBasic.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: 명시적으로 NULL을 return하도록 수정
  apps/web/src/widgets/feedback/ui/MentoFeedback.tsx
  apps/web/src/widgets/feedback/ui/PairFeedback.tsx
  apps/web/src/widgets/feedback/ui/PartFeedback.tsx
  apps/web/src/widgets/feedback/ui/PathFeedback.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-47-feedback-page] chore: import 경로 수정
  apps/web/app/path/[pathId]/detail/feedback/page.tsx
  apps/web/app/path/[pathId]/feedback/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: feedback 예시 타입 지정 및 mock 데이터 수정
  apps/web/src/__mock__/data/feedback.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: feedback 질문 목록 조회 mock api 구현
  apps/web/src/__mock__/data/feedback.ts
  apps/web/src/__mock__/handler/path.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] feat: 패스 소개 페이지를 추가합니다.
  apps/web/app/layout.tsx
  apps/web/app/path/[pathId]/introduce/page.tsx
  apps/web/src/__mock__/data/path.ts
  apps/web/src/entities/path/model/path-introduce.ts
  apps/web/src/entities/path/ui/curriculum-bar/CurriculumBar.stories.tsx
  apps/web/src/entities/path/ui/curriculum-bar/index.tsx
  apps/web/src/features/path/ui/path-apply-button/PathApplyButton.stories.tsx
  apps/web/src/features/path/ui/path-apply-button/index.tsx
  apps/web/src/shared/ui/NavigationLinks/NavigationLinks.stories.tsx
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/views/IntroducePage/IntroducePage.stories.tsx
  apps/web/src/views/IntroducePage/index.tsx
  apps/web/src/widget/ui/header/Header.stories.tsx
  apps/web/src/widget/ui/header/index.tsx
  apps/web/src/widget/ui/logo/Logo.stories.tsx
  apps/web/src/widget/ui/logo/Logo.styles.module.css
  apps/web/src/widget/ui/logo/NaNJauneTRIAL-Regular.subset.ttf
  apps/web/src/widget/ui/logo/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-72-feedback-mocking] feat: withDelay util 함수 추가
  apps/web/src/__mock__/utils/withDelay.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: wrapper 형태로 import 구문을 수정합니다.
  apps/web/app/path/[pathId]/introduce/page.tsx
  apps/web/src/__mock__/data/path.ts
  apps/web/src/shared/ui/NavigationLinks/index.tsx
  apps/web/src/views/IntroducePage/IntroducePage.stories.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] refactor: header, logo를 원래 위치에 되돌려 놓습니다.
  apps/web/src/shared/ui/header/Header.stories.tsx
  apps/web/src/shared/ui/header/index.tsx
  apps/web/src/shared/ui/logo/Logo.stories.tsx
  apps/web/src/shared/ui/logo/Logo.styles.module.css
  apps/web/src/shared/ui/logo/NaNJauneTRIAL-Regular.subset.ttf
  apps/web/src/shared/ui/logo/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-102-fix-feedback-page-storybook-build-error] chore: FeedbackPage 경로 수정
  apps/web/app/path/[pathId]/detail/feedback/page.tsx
  apps/web/app/path/[pathId]/feedback/page.tsx
  apps/web/src/pages/FeedbackPage/FeedbackPage.stories.tsx
  apps/web/src/views/FeedbackPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-102-fix-feedback-page-storybook-build-error] fix: useRouter 사용으로 인한 storybook build 에러 해결
  apps/web/src/shared/lib/utils/index.ts
  apps/web/src/shared/lib/utils/wrap-with-app-router-context.tsx
  apps/web/src/views/FeedbackPage/FeedbackPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] fix: 변경되지 않은 import 문을 수정합니다.
  apps/web/app/path/[pathId]/introduce/page.tsx
  apps/web/src/views/IntroducePage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-33-Introduce] fix: 변경된 목데이터를 반영합니다.
  apps/web/app/layout.tsx
  apps/web/src/entities/path/ui/curriculum-bar/CurriculumBar.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-120-status-button] refactor: radioGroup 위치를 변경합니다.
  apps/web/src/shared/core/sdu/radio-group/RadioGroup.stories.tsx
  apps/web/src/shared/core/sdu/radio-group/example.json
  apps/web/src/shared/core/sdu/radio-group/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-120-status-button] feat: check, radiobtn을 생성합니다.
  apps/web/src/shared/core/sdu/index.tsx
  config/libs/globals.css
  packages/ui/src/client.ts
  packages/ui/src/components/check/Check.stories.tsx
  packages/ui/src/components/check/index.tsx
  packages/ui/src/components/checkbox/index.tsx
  packages/ui/src/components/icon/variants.ts
  packages/ui/src/components/radio-btn/RadioBtn.stories.tsx
  packages/ui/src/components/radio-btn/index.tsx
  packages/ui/src/server.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-120-status-button] fix: import 경로를 변경합니다.
  apps/web/src/shared/core/sdu/server-driven.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

Path conditions:
  pnpm --filter @ani/web next lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}": any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix: any of: packages/util/**/*.{js,jsx,ts,tsx}
  pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}": any of: packages/util/**/*.{js,jsx,ts,tsx}
