Repository mobi-production/ani-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @ani/web next lint",
    "pnpm --filter @ani/web prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/ui eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/ui prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ],
  "packages/util/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @repo/util eslint \"**/*.{js,jsx,ts,tsx}\" --fix",
    "pnpm --filter @repo/util prettier --write \"**/*.{js,jsx,ts,tsx}\""
  ]
}

[ANI-68-ani-path-detail] refactor: introduce 폴더를 제거합니다.
  apps/web/app/path/[pathId]/page.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-68-ani-path-detail] refactor: 타입을 정리합니다.
  apps/web/app/path/[pathId]/detail/layout.tsx
  apps/web/app/path/[pathId]/load/page.tsx
  apps/web/src/entities/path/model/domain.ts
  apps/web/src/views/path/api/get-path-introduce.ts
  apps/web/src/views/path/api/get-path-page.ts
  apps/web/src/views/path/api/get-path-status.ts
  apps/web/src/views/path/model/domain.ts
  apps/web/src/widgets/path/ui/sidebar/CheckCurriculumBlock.tsx
  apps/web/src/widgets/path/ui/sidebar/InformationBlock.tsx
  apps/web/src/widgets/path/ui/sidebar/PathDetailNavLink.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-68-ani-path-detail] fix: storybook을 그룹화 합니다.
  apps/web/src/features/path/ui/path-apply-button/PathApplyButton.stories.tsx
  apps/web/src/features/path/ui/path-cancle-button/PathCancleButton.stories.tsx
  apps/web/src/views/path/ui/DetailPage/DetailPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-68-ani-path-detail] refactor: domain => api 파일명을 변경합니다.
  apps/web/app/path/[pathId]/detail/layout.tsx
  apps/web/src/entities/path/model/apis.ts
  apps/web/src/views/path/api/get-path-introduce.ts
  apps/web/src/views/path/api/get-path-page.ts
  apps/web/src/views/path/api/get-path-status.ts
  apps/web/src/views/path/model/apis.ts
  apps/web/src/widgets/path/ui/sidebar/CheckCurriculumBlock.tsx
  apps/web/src/widgets/path/ui/sidebar/InformationBlock.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] feat: mock 데이터 연동
  apps/web/src/__mock__/handler/auth.ts
  apps/web/src/__mock__/handler/index.ts
  apps/web/src/__mock__/types/auth.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] feat: msw 로직 연동
  apps/web/src/entities/auth/lib/apis/index.ts
  apps/web/src/entities/auth/lib/apis/login.ts
  apps/web/src/entities/auth/lib/apis/signup.ts
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: END_POINT, QUERY_KEYS 추가
  apps/web/src/__mock__/handler/auth.ts
  apps/web/src/__mock__/handler/main.ts
  apps/web/src/__mock__/handler/mypage.ts
  apps/web/src/entities/auth/lib/apis/login.ts
  apps/web/src/entities/auth/lib/apis/signup.ts
  apps/web/src/entities/main/lib/apis/get-main-data.ts
  apps/web/src/entities/mypage/lib/apis/get-mypage-data.ts
  apps/web/src/entities/mypage/lib/apis/get-myprofile-data.ts
  apps/web/src/entities/mypage/lib/apis/put-myprofile.ts
  apps/web/src/shared/config/constants/end-point.ts
  apps/web/src/shared/config/constants/querykey.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page] fix: 코드 누락 추가
  apps/web/src/features/auth/ui/signup-modal/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] refactor: 반복되는 코드를 제거합니다.
  packages/sdu/src/components/index.tsx
  packages/sdu/src/components/table/index.tsx
  packages/sdu/src/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] refactor: id값을 제거합니다.
  packages/sdu/src/components/bookmark/index.tsx
  packages/sdu/src/components/bulleted-list-item/index.tsx
  packages/sdu/src/components/callout/index.tsx
  packages/sdu/src/components/checkbox/index.tsx
  packages/sdu/src/components/divider/index.tsx
  packages/sdu/src/components/file/index.tsx
  packages/sdu/src/components/heading1/example.json
  packages/sdu/src/components/heading1/heading1-content.json
  packages/sdu/src/components/heading1/heading1-style.json
  packages/sdu/src/components/heading1/index.tsx
  packages/sdu/src/components/heading2/example.json
  packages/sdu/src/components/heading2/heading2-style.json
  packages/sdu/src/components/heading2/index.tsx
  packages/sdu/src/components/heading3/example.json
  packages/sdu/src/components/heading3/heading3-style.json
  packages/sdu/src/components/heading3/index.tsx
  packages/sdu/src/components/numbered-list-item/index.tsx
  packages/sdu/src/components/quote/index.tsx
  packages/sdu/src/components/table-of-content/index.tsx
  packages/sdu/src/components/table/index.tsx
  packages/sdu/src/components/toggle/example.json
  packages/sdu/src/components/toggle/index.tsx
  packages/sdu/src/libs/uuid.ts
Due: none

[ANI-93-frontend-server-driven-ui] feat: content 속성을 children 속성으로 변경합니다.
  packages/sdu/src/components/bulleted-list-item/example.json
  packages/sdu/src/components/bulleted-list-item/style.json
  packages/sdu/src/components/callout/Callout.stories.tsx
  packages/sdu/src/components/checkbox/Checkbox.tsx
  packages/sdu/src/components/checkbox/example.json
  packages/sdu/src/components/checkbox/index.tsx
  packages/sdu/src/components/divider/Divider.stories.tsx
  packages/sdu/src/components/file/File.stories.tsx
  packages/sdu/src/components/heading1/heading1-content.json
  packages/sdu/src/components/heading1/index.tsx
  packages/sdu/src/components/numbered-list-item/example.json
  packages/sdu/src/components/numbered-list-item/index.tsx
  packages/sdu/src/components/numbered-list-item/style.json
  packages/sdu/src/components/quote/Quote.stories.tsx
  packages/sdu/src/components/toggle/example.json
  packages/sdu/src/config/ChildrenDepthComponent.tsx
  packages/sdu/src/index.tsx
Due: none

[ANI-93-frontend-server-driven-ui] docs: sdu 사용법을 수정합니다.
  packages/sdu/README.md
Due: none

[ANI-93-frontend-server-driven-ui] feat: playground를 추가합니다.
  packages/sdu/src/components/common/ErrorBoundary.tsx
  packages/sdu/src/components/numbered-list-item/index.tsx
  packages/sdu/src/components/playground/Playground.stories.tsx
  packages/sdu/src/components/playground/Playground.tsx
Due: none

[ANI-93-frontend-server-driven-ui] fix: mock데이터를 수정합니다.
  apps/web/src/__mock__/data/path.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-93-frontend-server-driven-ui] fix: 잘못된 타입을 수정합니다.
  packages/sdu/src/components/checkbox/Checkbox.stories.tsx
Due: none

[ANI-52-question-form-section] feat: 질문 생성 페이지 레이아웃 구현
  apps/web/src/entities/question/ui/user-path-drop-down/index.tsx
  apps/web/src/features/path/model/question-submit-schema.ts
  apps/web/src/features/quesion/ui/submit-question-section/SubmitQuestionSection.stories.tsx
  apps/web/src/features/quesion/ui/submit-question-section/index.tsx
  apps/web/src/views/QuestionFormPage/QuestionFormPage.stories.tsx
  apps/web/src/views/QuestionFormPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] feat: textarea 컴포넌트 수정
  packages/ui/src/components/text-area/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] feat: 공용 컴포넌트 스타일 variant 추가
  packages/ui/src/components/input/index.tsx
  packages/ui/src/components/input/variants.ts
  packages/ui/src/components/text-area/index.tsx
Due: pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] feat: question submit 로직 추가
  apps/web/src/features/path/model/question-submit-schema.ts
  apps/web/src/features/quesion/ui/submit-question-section/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] chore: view 폴더 question 관련 컴포넌트 도메인 단위로 분리
  apps/web/src/features/quesion/ui/submit-question-section/index.tsx
  apps/web/src/views/question/ui/QuestionFormPage/QuestionFormPage.stories.tsx
  apps/web/src/views/question/ui/QuestionFormPage/index.tsx
  apps/web/src/views/question/ui/QuestionListPage/QuestionListPage.stories.tsx
  apps/web/src/views/question/ui/QuestionListPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-52-question-form-section] feat: 질문 수정 페이지 생성
  apps/web/src/features/quesion/ui/submit-question-section/index.tsx
  apps/web/src/views/question/api/get-question-detail.ts
  apps/web/src/views/question/ui/CreateQuestionPage/CreateQuestionPage.stories.tsx
  apps/web/src/views/question/ui/CreateQuestionPage/index.tsx
  apps/web/src/views/question/ui/EditQuestionPage/EditQuestionPage.stories.tsx
  apps/web/src/views/question/ui/EditQuestionPage/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: fsd 구조 수정
  apps/web/src/__mock__/handler/auth.ts
  apps/web/src/entities/auth/model/index.ts
  apps/web/src/entities/auth/model/loginModalSchema.ts
  apps/web/src/entities/auth/model/signupModalSchema.ts
  apps/web/src/features/auth/api/index.ts
  apps/web/src/features/auth/api/login.ts
  apps/web/src/features/auth/api/signup.ts
  apps/web/src/features/auth/config/auth-config.ts
  apps/web/src/features/auth/model/index.ts
  apps/web/src/features/auth/model/use-auth-modal-store.ts
  apps/web/src/features/auth/model/use-auth.ts
  apps/web/src/features/auth/ui/login-modal/index.tsx
  apps/web/src/features/auth/ui/signup-modal/index.tsx
  apps/web/src/shared/config/constants/end-point.ts
  apps/web/src/shared/config/constants/querykey.ts
  apps/web/src/shared/ui/header/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: 질문 상세 상단 영역 구현
  apps/web/src/__mock__/data/question.ts
  apps/web/src/views/question/api/get-question-detail.ts
  apps/web/src/views/question/ui/QuestionDetailPage/QuestionListPage.stories.tsx
  apps/web/src/views/question/ui/QuestionDetailPage/index.tsx
  packages/ui/src/components/icon/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: reply 제출 영역 구현
  apps/web/src/features/path/model/question-submit-schema.ts
  apps/web/src/features/quesion/ui/submit-reply-section/SubmitReplySection.stories.tsx
  apps/web/src/features/quesion/ui/submit-reply-section/index.tsx
  apps/web/src/views/question/ui/QuestionDetailPage/index.tsx
  packages/ui/src/components/icon/variants.ts
  packages/ui/src/components/input/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: fsd 폴더구조 수정
  apps/web/app/mypage/page.tsx
  apps/web/app/page.tsx
  apps/web/src/__mock__/handler/mypage.ts
  apps/web/src/__mock__/types/main.ts
  apps/web/src/__mock__/types/mypage.ts
  apps/web/src/entities/main/lib/apis/get-main-data.ts
  apps/web/src/entities/mypage/lib/apis/get-mypage-data.ts
  apps/web/src/entities/mypage/lib/apis/get-myprofile-data.ts
  apps/web/src/entities/mypage/model/myProfileEditSchema.ts
  apps/web/src/features/mypage/api/delete-myprofile.ts
  apps/web/src/features/mypage/api/index.ts
  apps/web/src/features/mypage/api/put-myprofile.ts
  apps/web/src/features/mypage/model/apis.ts
  apps/web/src/features/mypage/ui/profile-edit-modal/index.tsx
  apps/web/src/features/mypage/ui/withdrawal-modal/index.tsx
  apps/web/src/shared/config/constants/end-point.ts
  apps/web/src/shared/config/constants/querykey.ts
  apps/web/src/views/main/api/get-main-data.ts
  apps/web/src/views/main/config/main-config.ts
  apps/web/src/views/main/model/apis.ts
  apps/web/src/views/main/ui/MainPage.stories.tsx
  apps/web/src/views/main/ui/index.tsx
  apps/web/src/views/mypage/api/get-mypage-data.ts
  apps/web/src/views/mypage/api/get-myprofile-data.ts
  apps/web/src/views/mypage/api/index.ts
  apps/web/src/views/mypage/config/apis.ts
  apps/web/src/views/mypage/model/apis.ts
  apps/web/src/views/mypage/ui/MyPage.stories.tsx
  apps/web/src/views/mypage/ui/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] bug: 버그 수정중
  apps/web/src/views/main/api/get-main-data.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: 경로 수정
  apps/web/src/__mock__/handler/main.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: import type 추가
  apps/web/src/__mock__/handler/main.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: 저장 누락 커밋
  apps/web/src/__mock__/types/mypage.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: api 로직
  apps/web/src/views/main/api/get-main-data.ts
  apps/web/src/views/mypage/api/get-mypage-data.ts
  apps/web/src/views/mypage/api/get-myprofile-data.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: product api 주소 누락으로 기본 데이터 제공
  apps/web/src/views/main/api/get-main-data.ts
  apps/web/src/views/mypage/api/get-mypage-data.ts
  apps/web/src/views/mypage/api/get-myprofile-data.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: 질문 수정/삭제 선택 모달 추가
  apps/web/src/features/quesion/ui/edit-question-modal/EditQuestionModal.stories.tsx
  apps/web/src/features/quesion/ui/edit-question-modal/index.tsx
  apps/web/src/features/quesion/ui/submit-reply-section/index.tsx
  apps/web/src/views/question/ui/QuestionDetailPage/index.tsx
  packages/ui/src/components/modal/index.tsx
  packages/ui/src/components/modal/variants.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: 답변 버블 컴포넌트 구현
  apps/web/src/widgets/question/ui/one-reply-bubble/OneReplyBubble.stories.tsx
  apps/web/src/widgets/question/ui/one-reply-bubble/index.tsx
  packages/ui/src/components/typography/index.tsx
  packages/ui/src/components/typography/variants.ts
  packages/util/src/formatDate.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/util eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/util prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] feat: 답변 목록 컴포넌트 추가
  apps/web/src/__mock__/data/question.ts
  apps/web/src/views/question/ui/QuestionDetailPage/QuestionDetailPage.stories.tsx
  apps/web/src/views/question/ui/QuestionDetailPage/index.tsx
  apps/web/src/widgets/question/ui/one-reply-bubble/OneReplyBubble.stories.tsx
  apps/web/src/widgets/question/ui/one-reply-bubble/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-53-question-detail-section] style: scrollbar hidden class 추가
  config/libs/globals.css
Due: none

[ANI-53-question-detail-section] feat: 답변 목록에 스크롤 적용
  apps/web/src/__mock__/data/question.ts
  apps/web/src/views/question/ui/QuestionDetailPage/index.tsx
  apps/web/src/widgets/question/ui/one-reply-bubble/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-34-auth-page-refactor] fix: 스토리북 폴더구조 수정
  apps/web/src/features/auth/ui/login-modal/LoginModal.stories.tsx
  apps/web/src/features/auth/ui/signup-modal/SignupModal.stories.tsx
  apps/web/src/features/mypage/ui/my-page-edit-button/MyPageEditButton.stories.tsx
  apps/web/src/features/mypage/ui/my-page-edit-button/index.tsx
  apps/web/src/features/mypage/ui/profile-edit-modal/ProfileEditModal.stories.tsx
  apps/web/src/features/mypage/ui/withdrawal-modal/WithdrawalModal.stories.tsx
  apps/web/src/views/main/ui/MainPage.stories.tsx
  apps/web/src/views/mypage/ui/MyPage.stories.tsx
  apps/web/src/views/mypage/ui/index.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28] refactor: modal 폴더를 분리합니다.
  apps/web/src/shared/ui/modal/CommonModal.stories.tsx
  apps/web/src/shared/ui/modal/index.tsx
  apps/web/src/shared/ui/portal/Portal.tsx
  apps/web/src/shared/ui/portal/index.tsx
  apps/web/src/shared/ui/portal/modal/CommonModal.stories.tsx
  packages/ui/src/components/modal/Modal.stories.tsx
  packages/ui/src/components/modal/index.tsx
  packages/ui/src/hooks/use-portal.ts
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}", pnpm --filter @repo/ui eslint "**/*.{js,jsx,ts,tsx}" --fix, pnpm --filter @repo/ui prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28] refactor: 변경된 폴더구조를 적용합니다.
  apps/web/src/features/mypage/ui/withdrawal-modal/index.tsx
  apps/web/src/views/PartFeedbackPage/PartFeedbackPage.stories.tsx
  apps/web/src/views/PartFeedbackPage/index.tsx
  apps/web/src/views/PathFeedbackPage/PathFeedbackPage.stories.tsx
  apps/web/src/views/path/ui/DetailPage/DetailPage.stories.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"

[ANI-28] refactor: libs 폴더를 평탄화 합니다.
  apps/web/src/shared/hooks/use-funnel.tsx
  apps/web/src/shared/utils/extract-keys-from-object.ts
  apps/web/src/shared/utils/index.ts
  apps/web/src/shared/utils/wrap-with-app-router-context.tsx
Due: pnpm --filter @ani/web next lint, pnpm --filter @ani/web prettier --write "**/*.{js,jsx,ts,tsx}"
